dist/2_dautuchovay.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dau tu cho vay</title>
    <meta name="description" content="Page description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="ico/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet" type="text/css">
    <link href="css/slick-theme.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    <header class="site-header" id="header">
      <div class="container">
        <nav class="navbar navbar-default nav-tima">
          <div class="in-nav-tima">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html"><img src="imgs/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div class="collapse navbar-collapse collapse-tima" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav nav-login">
                <li><a href="signup.html">Đăng ký</a><span>|</span></li>
                <li><a href="login.html">Đăng nhập</a><span>|</span></li>
                <li><a href="6_report.html">Thông báo</a><span>|</span></li>
                <li class="before-contact"><a href="5_support.html">Trung tâm hỗ trợ </a><span>|</span></li>
                <li class="contact-top"><img src="imgs/icon-iphone.png"><span class="spanHotline">| </span> Hotline:<a href="tel:1800 6919" style="padding-left:5px;">1800 6919</a></li>
              </ul>
              <ul class="nav navbar-nav main-menu">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                <li><a href="5_about.html">Giới thiệu tima</a></li>
                <li><a href="login.html">Đăng nhập</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse-->
          </div>
          <!-- /.container-fluid-->
        </nav>
      </div>
    </header>
    <main class="site-main" id="main">
      <div class="wrap-content">
        <div class="default-section tab-section">
          <div class="container">
            <ul class="nav" role="tablist">
              <li class="active" role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Menu 1</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Menu 2</a></li>
            </ul>
          </div>
        </div>
        <div class="defautl-section total-thongke">
          <div class="container">
            <div class="row">
              <div class="col-md-9">
                <div class="border-section">
                  <div class="title-section">Thống kê</div>
                  <div class="number-thongke">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="icon-thongke">VNĐ</div>
                        <p class="tongvay">Tổng tiền cho vay</p>
                        <p class="numbertongvay">33,425,517,035.34</p>
                      </div>
                      <div class="col-md-4">
                        <div class="icon-thongke"> <img src="imgs/users2.png"></div>
                        <p class="tongvay">Tổng số người vay</p>
                        <p class="numbertongvay"> 2,929,979</p>
                      </div>
                      <div class="col-md-4">
                        <div class="icon-thongke"><img src="imgs/growth.png"></div>
                        <p class="tongvay">Tổng lợi nhuận</p>
                        <p class="numbertongvay">1,233,017,281.18</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="dat-vay-right"><a class="btn-tima">Đăng ký cho vay</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="defautl-section filter-search">
          <div class="container">
            <div class="border-section" style="overflow:visible;">
              <div class="row">
                <div class="col-md-9">
                  <div class="title-section">Tìm kiếm</div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-3">
                      <select class="selectpicker slt-tima">
                        <option>Tổng tiền cho vay</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <select class="selectpicker slt-tima">
                        <option>Gói vay</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <select class="selectpicker slt-tima">
                        <option>Thành phố    </option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <select class="selectpicker slt-tima">
                        <option>Quận huyện</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="defautl-section lend-section don-xin">
          <div class="container">
            <div class="border-section">
              <div class="makescroll">
                <div class="scrollable">
                  <div class="title-section">Danh sách đơn xin được chuyển tới bạn</div>
                  <div class="big-section lend-list">
                    <div class="item-slide">
                      <div class="icon-person"><img src="imgs/girl.png"></div>
                      <div class="info-customer border-tbl">
                        <p class="name-cus">Chi Van</p>
                        <p class="tel-cus">09x xxxxxx3</p>
                      </div>
                      <div class="type-lend border-tbl">
                        <p class="name-type">Tín chấp</p>
                        <p class="in-out">Ngân hàng</p>
                      </div>
                      <div class="type-lend border-tbl address-customer">
                        <p class="name-type">Hai Bà Trưng</p>
                        <p class="in-out">Hà Nội</p>
                      </div>
                      <div class="time-lend border-tbl">
                        <p class="number-lend">3</p>
                        <p class="unit-lend">Tháng</p>
                      </div>
                      <div class="qty-lend border-tbl">
                        <p class="amount">10.000.000</p>
                        <p class="unit-money">Triệu đồng</p>
                      </div>
                      <div class="date-lend border-tbl"><span>15:30  </span>| 17/07/2017</div>
                      <div class="action-col"><a class="action-btn" href="#">Nhận đơn</a><a class="action-btn" href="#">Hủy</a></div>
                    </div>
                    <div class="item-slide">
                      <div class="icon-person"><img src="imgs/girl.png"></div>
                      <div class="info-customer border-tbl">
                        <p class="name-cus">Chi Van</p>
                        <p class="tel-cus">09x xxxxxx3</p>
                      </div>
                      <div class="type-lend border-tbl">
                        <p class="name-type">Tín chấp</p>
                        <p class="in-out">Ngân hàng</p>
                      </div>
                      <div class="type-lend border-tbl address-customer">
                        <p class="name-type">Hai Bà Trưng</p>
                        <p class="in-out">Hà Nội</p>
                      </div>
                      <div class="time-lend border-tbl">
                        <p class="number-lend">3</p>
                        <p class="unit-lend">Tháng</p>
                      </div>
                      <div class="qty-lend border-tbl">
                        <p class="amount">10.000.000</p>
                        <p class="unit-money">Triệu đồng</p>
                      </div>
                      <div class="date-lend border-tbl"><span>15:30  </span>| 17/07/2017</div>
                      <div class="action-col"><a class="action-btn" href="#">Nhận đơn</a><a class="action-btn" href="#">Hủy</a></div>
                    </div>
                    <div class="item-slide">
                      <div class="icon-person"><img src="imgs/girl.png"></div>
                      <div class="info-customer border-tbl">
                        <p class="name-cus">Chi Van</p>
                        <p class="tel-cus">09x xxxxxx3</p>
                      </div>
                      <div class="type-lend border-tbl">
                        <p class="name-type">Tín chấp</p>
                        <p class="in-out">Ngân hàng</p>
                      </div>
                      <div class="type-lend border-tbl address-customer">
                        <p class="name-type">Hai Bà Trưng</p>
                        <p class="in-out">Hà Nội</p>
                      </div>
                      <div class="time-lend border-tbl">
                        <p class="number-lend">3</p>
                        <p class="unit-lend">Tháng</p>
                      </div>
                      <div class="qty-lend border-tbl">
                        <p class="amount">10.000.000</p>
                        <p class="unit-money">Triệu đồng</p>
                      </div>
                      <div class="date-lend border-tbl"><span>15:30  </span>| 17/07/2017</div>
                      <div class="action-col"><a class="action-btn" href="#">Nhận đơn</a><a class="action-btn" href="#">Hủy</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="defautl-section lend-section don-xin">
          <div class="container">
            <div class="border-section">
              <div class="makescroll">
                <div class="scrollable">
                  <div class="title-section"><span class="float-left">Danh sách đơn xin vay mới trên toàn hệ thống</span>
                    <ul class="pagination pagination-tima">
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li class="dot"><a href="#">...</a></li>
                      <li><a href="#">6</a></li>
                    </ul>
                  </div>
                  <div class="big-section lend-list">
                    <div class="item-slide">
                      <div class="icon-person"><img src="imgs/girl.png"></div>
                      <div class="info-customer border-tbl">
                        <p class="name-cus">Chi Van</p>
                        <p class="tel-cus">09x xxxxxx3</p>
                      </div>
                      <div class="type-lend border-tbl">
                        <p class="name-type">Tín chấp</p>
                        <p class="in-out">Ngân hàng</p>
                      </div>
                      <div class="type-lend border-tbl address-customer">
                        <p class="name-type">Hai Bà Trưng</p>
                        <p class="in-out">Hà Nội</p>
                      </div>
                      <div class="time-lend border-tbl">
                        <p class="number-lend">3</p>
                        <p class="unit-lend">Tháng</p>
                      </div>
                      <div class="qty-lend border-tbl">
                        <p class="amount">10.000.000</p>
                        <p class="unit-money">Triệu đồng</p>
                      </div>
                      <div class="date-lend border-tbl"><span>15:30  </span>| 17/07/2017</div>
                      <div class="action-col"><a class="action-btn" href="#">Đã duyệt</a></div>
                    </div>
                    <div class="item-slide">
                      <div class="icon-person"><img src="imgs/boy.png"></div>
                      <div class="info-customer border-tbl">
                        <p class="name-cus">Anh Thanh</p>
                        <p class="tel-cus">09x xxxxxx3</p>
                      </div>
                      <div class="type-lend border-tbl">
                        <p class="name-type">Tín chấp</p>
                        <p class="in-out">Ngân hàng</p>
                      </div>
                      <div class="type-lend border-tbl address-customer">
                        <p class="name-type">Hai Bà Trưng</p>
                        <p class="in-out">Hà Nội</p>
                      </div>
                      <div class="time-lend border-tbl">
                        <p class="number-lend">12</p>
                        <p class="unit-lend">Tháng</p>
                      </div>
                      <div class="qty-lend border-tbl">
                        <p class="amount">10.000.000</p>
                        <p class="unit-money">Triệu đồng</p>
                      </div>
                      <div class="date-lend border-tbl"><span>15:30  </span>| 17/07/2017</div>
                      <div class="action-col"><a class="action-btn" href="#">Đã duyệt</a></div>
                    </div>
                    <div class="item-slide">
                      <div class="icon-person"><img src="imgs/girl.png"></div>
                      <div class="info-customer border-tbl">
                        <p class="name-cus">Chi Van</p>
                        <p class="tel-cus">09x xxxxxx3</p>
                      </div>
                      <div class="type-lend border-tbl">
                        <p class="name-type">Tín chấp</p>
                        <p class="in-out">Ngân hàng</p>
                      </div>
                      <div class="type-lend border-tbl address-customer">
                        <p class="name-type">Hai Bà Trưng</p>
                        <p class="in-out">Hà Nội</p>
                      </div>
                      <div class="time-lend border-tbl">
                        <p class="number-lend">3</p>
                        <p class="unit-lend">Tháng</p>
                      </div>
                      <div class="qty-lend border-tbl">
                        <p class="amount">10.000.000</p>
                        <p class="unit-money">Triệu đồng</p>
                      </div>
                      <div class="date-lend border-tbl"><span>15:30  </span>| 17/07/2017</div>
                      <div class="action-col"><a class="action-btn" href="#">Đã duyệt</a></div>
                    </div>
                    <div class="item-slide">
                      <div class="icon-person"><img src="imgs/boy.png"></div>
                      <div class="info-customer border-tbl">
                        <p class="name-cus">Anh Thanh</p>
                        <p class="tel-cus">09x xxxxxx3</p>
                      </div>
                      <div class="type-lend border-tbl">
                        <p class="name-type">Tín chấp</p>
                        <p class="in-out">Ngân hàng</p>
                      </div>
                      <div class="type-lend border-tbl address-customer">
                        <p class="name-type">Hai Bà Trưng</p>
                        <p class="in-out">Hà Nội</p>
                      </div>
                      <div class="time-lend border-tbl">
                        <p class="number-lend">12</p>
                        <p class="unit-lend">Tháng</p>
                      </div>
                      <div class="qty-lend border-tbl">
                        <p class="amount">10.000.000</p>
                        <p class="unit-money">Triệu đồng</p>
                      </div>
                      <div class="date-lend border-tbl"><span>15:30  </span>| 17/07/2017</div>
                      <div class="action-col"><a class="action-btn" href="#">Đã duyệt</a></div>
                    </div>
                    <div class="item-slide">
                      <div class="icon-person"><img src="imgs/girl.png"></div>
                      <div class="info-customer border-tbl">
                        <p class="name-cus">Chi Van</p>
                        <p class="tel-cus">09x xxxxxx3</p>
                      </div>
                      <div class="type-lend border-tbl">
                        <p class="name-type">Tín chấp</p>
                        <p class="in-out">Ngân hàng</p>
                      </div>
                      <div class="type-lend border-tbl address-customer">
                        <p class="name-type">Hai Bà Trưng</p>
                        <p class="in-out">Hà Nội</p>
                      </div>
                      <div class="time-lend border-tbl">
                        <p class="number-lend">3</p>
                        <p class="unit-lend">Tháng</p>
                      </div>
                      <div class="qty-lend border-tbl">
                        <p class="amount">10.000.000</p>
                        <p class="unit-money">Triệu đồng</p>
                      </div>
                      <div class="date-lend border-tbl"><span>15:30  </span>| 17/07/2017</div>
                      <div class="action-col"><a class="action-btn" href="#">Đã duyệt</a></div>
                    </div>
                    <div class="item-slide">
                      <div class="icon-person"><img src="imgs/boy.png"></div>
                      <div class="info-customer border-tbl">
                        <p class="name-cus">Anh Thanh</p>
                        <p class="tel-cus">09x xxxxxx3</p>
                      </div>
                      <div class="type-lend border-tbl">
                        <p class="name-type">Tín chấp</p>
                        <p class="in-out">Ngân hàng</p>
                      </div>
                      <div class="type-lend border-tbl address-customer">
                        <p class="name-type">Hai Bà Trưng</p>
                        <p class="in-out">Hà Nội</p>
                      </div>
                      <div class="time-lend border-tbl">
                        <p class="number-lend">12</p>
                        <p class="unit-lend">Tháng</p>
                      </div>
                      <div class="qty-lend border-tbl">
                        <p class="amount">10.000.000</p>
                        <p class="unit-money">Triệu đồng</p>
                      </div>
                      <div class="date-lend border-tbl"><span>15:30  </span>| 17/07/2017</div>
                      <div class="action-col"><a class="action-btn" href="#">Đã duyệt</a></div>
                    </div>
                    <div class="item-slide">
                      <div class="icon-person"><img src="imgs/girl.png"></div>
                      <div class="info-customer border-tbl">
                        <p class="name-cus">Chi Van</p>
                        <p class="tel-cus">09x xxxxxx3</p>
                      </div>
                      <div class="type-lend border-tbl">
                        <p class="name-type">Tín chấp</p>
                        <p class="in-out">Ngân hàng</p>
                      </div>
                      <div class="type-lend border-tbl address-customer">
                        <p class="name-type">Hai Bà Trưng</p>
                        <p class="in-out">Hà Nội</p>
                      </div>
                      <div class="time-lend border-tbl">
                        <p class="number-lend">3</p>
                        <p class="unit-lend">Tháng</p>
                      </div>
                      <div class="qty-lend border-tbl">
                        <p class="amount">10.000.000</p>
                        <p class="unit-money">Triệu đồng</p>
                      </div>
                      <div class="date-lend border-tbl"><span>15:30  </span>| 17/07/2017</div>
                      <div class="action-col"><a class="action-btn" href="#">Đã duyệt</a></div>
                    </div>
                    <div class="item-slide">
                      <div class="icon-person"><img src="imgs/boy.png"></div>
                      <div class="info-customer border-tbl">
                        <p class="name-cus">Anh Thanh</p>
                        <p class="tel-cus">09x xxxxxx3</p>
                      </div>
                      <div class="type-lend border-tbl">
                        <p class="name-type">Tín chấp</p>
                        <p class="in-out">Ngân hàng</p>
                      </div>
                      <div class="type-lend border-tbl address-customer">
                        <p class="name-type">Hai Bà Trưng</p>
                        <p class="in-out">Hà Nội</p>
                      </div>
                      <div class="time-lend border-tbl">
                        <p class="number-lend">12</p>
                        <p class="unit-lend">Tháng</p>
                      </div>
                      <div class="qty-lend border-tbl">
                        <p class="amount">10.000.000</p>
                        <p class="unit-money">Triệu đồng</p>
                      </div>
                      <div class="date-lend border-tbl"><span>15:30  </span>| 17/07/2017</div>
                      <div class="action-col"><a class="action-btn" href="#">Đã duyệt</a></div>
                    </div>
                    <div class="item-slide">
                      <div class="icon-person"><img src="imgs/girl.png"></div>
                      <div class="info-customer border-tbl">
                        <p class="name-cus">Chi Van</p>
                        <p class="tel-cus">09x xxxxxx3</p>
                      </div>
                      <div class="type-lend border-tbl">
                        <p class="name-type">Tín chấp</p>
                        <p class="in-out">Ngân hàng</p>
                      </div>
                      <div class="type-lend border-tbl address-customer">
                        <p class="name-type">Hai Bà Trưng</p>
                        <p class="in-out">Hà Nội</p>
                      </div>
                      <div class="time-lend border-tbl">
                        <p class="number-lend">3</p>
                        <p class="unit-lend">Tháng</p>
                      </div>
                      <div class="qty-lend border-tbl">
                        <p class="amount">10.000.000</p>
                        <p class="unit-money">Triệu đồng</p>
                      </div>
                      <div class="date-lend border-tbl"><span>15:30  </span>| 17/07/2017</div>
                      <div class="action-col"><a class="action-btn" href="#">Đã duyệt</a></div>
                    </div>
                    <div class="item-slide">
                      <div class="icon-person"><img src="imgs/boy.png"></div>
                      <div class="info-customer border-tbl">
                        <p class="name-cus">Anh Thanh</p>
                        <p class="tel-cus">09x xxxxxx3</p>
                      </div>
                      <div class="type-lend border-tbl">
                        <p class="name-type">Tín chấp</p>
                        <p class="in-out">Ngân hàng</p>
                      </div>
                      <div class="type-lend border-tbl address-customer">
                        <p class="name-type">Hai Bà Trưng</p>
                        <p class="in-out">Hà Nội</p>
                      </div>
                      <div class="time-lend border-tbl">
                        <p class="number-lend">12</p>
                        <p class="unit-lend">Tháng</p>
                      </div>
                      <div class="qty-lend border-tbl">
                        <p class="amount">10.000.000</p>
                        <p class="unit-money">Triệu đồng</p>
                      </div>
                      <div class="date-lend border-tbl"><span>15:30  </span>| 17/07/2017</div>
                      <div class="action-col"><a class="action-btn" href="#">Đã duyệt</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="site-footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-6"> 
                <ul>
                  <li><a href="index.html">Trang chủ</a></li>
                  <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                  <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul>
                  <li><a href="5_about.html">Giới thiệu tima</a></li>
                  <li><a href="login.html">Đăng nhập</a></li>
                </ul>
              </div>
            </div>
            <p class="copyR">© 2015 Bản quyền thuộc về Tima</p>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5 right-border-footer">
                <p class="hot-txt">hotline</p>
                <p class="num-tel">1800 6919</p>
                <p class="email-txt"><a href="mailto:support@tima.vn">Email: support@tima.vn</a></p>
              </div>
              <div class="col-md-7">
                <p class="cta">Bạn đã sẵn sàng trải nghiệm vay nhanh cùng Tima?</p>
                <div class="install"><a href="#"><img src="imgs/icon-apple.png"></a><a href="#"><img src="imgs/icon-android.png"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/scripts.min.js"></script>
  </body>
</html>

app/source/2_dautuchovay.pug
extends layouts/layout-full.pug

block config
    - var title = 'Dau tu cho vay'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .default-section.tab-section
            .container
                ul.nav(role="tablist")
                    li.active(role="presentation")
                        a(href="#home",aria-controls="home", role="tab" data-toggle="tab") Menu 1
                    li(role="presentation")
                        a(href="#profile",aria-controls="profile", role="tab" data-toggle="tab") Menu 2
                //- .tab-content
                //-     #home.tab-pane.fade.in.active(role="tabpanel")  home
                //-     #profile.tab-pane.fade.in(role="tabpanel")  profile
        
        .defautl-section.total-thongke
            .container
                .row
                    .col-md-9
                        .border-section
                            .title-section
                                |Thống kê
                            .number-thongke
                                .row
                                    .col-md-4
                                        .icon-thongke VNĐ
                                        p.tongvay Tổng tiền cho vay
                                        p.numbertongvay 33,425,517,035.34
                                    .col-md-4
                                        .icon-thongke 
                                            img(src="imgs/users2.png")
                                        p.tongvay Tổng số người vay
                                        p.numbertongvay  2,929,979
                                    .col-md-4
                                        .icon-thongke
                                            img(src="imgs/growth.png")
                                        p.tongvay Tổng lợi nhuận
                                        p.numbertongvay 1,233,017,281.18

                    .col-md-3
                        .dat-vay-right
                            a.btn-tima Đăng ký cho vay


        .defautl-section.filter-search
            .container
                .border-section(style="overflow:visible")
                    .row
                        .col-md-9
                            .title-section
                                |Tìm kiếm
                        .col-md-12
                            .row
                                .col-md-3
                                    select.selectpicker.slt-tima
                                        option Tổng tiền cho vay
                                        option Ketchup
                                        option Relish
                                .col-md-3
                                    select.selectpicker.slt-tima
                                        option Gói vay
                                        option Ketchup
                                        option Relish
                                .col-md-3
                                    select.selectpicker.slt-tima
                                        option Thành phố    
                                        option Ketchup
                                        option Relish
                                .col-md-3
                                    select.selectpicker.slt-tima
                                        option Quận huyện
                                        option Ketchup
                                        option Relish
                    


        .defautl-section.lend-section.don-xin
            .container
                .border-section
                    .makescroll
                        .scrollable
                            .title-section
                                |Danh sách đơn xin được chuyển tới bạn
                            .big-section.lend-list
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Nhận đơn
                                        a.action-btn(href="#") Hủy
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Nhận đơn
                                        a.action-btn(href="#") Hủy
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Nhận đơn
                                        a.action-btn(href="#") Hủy

        .defautl-section.lend-section.don-xin
            .container
                .border-section
                    .makescroll
                        .scrollable
                            .title-section
                                span.float-left
                                    |Danh sách đơn xin vay mới trên toàn hệ thống
                                
                                ul.pagination.pagination-tima
                                    li.active
                                        a(href='#') 1
                                    li
                                        a(href='#') 2
                                    li
                                        a(href='#') 3
                                    li.dot
                                        a(href='#') ...
                                    li
                                        a(href='#') 6
                                    
                            .big-section.lend-list
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/boy.png")
                                    .info-customer.border-tbl
                                        p.name-cus Anh Thanh
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 12
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/boy.png")
                                    .info-customer.border-tbl
                                        p.name-cus Anh Thanh
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 12
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/boy.png")
                                    .info-customer.border-tbl
                                        p.name-cus Anh Thanh
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 12
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/boy.png")
                                    .info-customer.border-tbl
                                        p.name-cus Anh Thanh
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 12
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/girl.png")
                                    .info-customer.border-tbl
                                        p.name-cus Chi Van
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 3
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
                                div.item-slide
                                    .icon-person
                                        img(src="imgs/boy.png")
                                    .info-customer.border-tbl
                                        p.name-cus Anh Thanh
                                        p.tel-cus 09x xxxxxx3
                                    .type-lend.border-tbl
                                        p.name-type Tín chấp
                                        p.in-out Ngân hàng
                                    .type-lend.border-tbl.address-customer
                                        p.name-type Hai Bà Trưng
                                        p.in-out Hà Nội
                                    .time-lend.border-tbl
                                        p.number-lend 12
                                        p.unit-lend Tháng
                                    .qty-lend.border-tbl
                                        p.amount 10.000.000
                                        p.unit-money Triệu đồng
                                    .date-lend.border-tbl
                                        span 15:30  
                                        | | 17/07/2017
                                    .action-col
                                        a.action-btn(href="#") Đã duyệt
