app/source/5_about.pug
extends layouts/layout-full.pug

block config
    - var title = '3 Can cho vay'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .defautl-section.filter-search.first-section
            .container
                .border-section(style="overflow:visible")
                    .row
                        .col-md-9
                            .title-section
                                | Giới thiệu về tima
                        .col-md-12
                            .row.img_about
                                .col-sm-6
                                    img(src="imgs/about_1.jpg")
                                .col-sm-6
                                    img(src="imgs/about_2.jpg")
                            .detail-about
                                p
                                    | Với số vốn đầu tư ban đầu 150 tỷ VNĐ, TIMA bắt đầu tham gia thị trường tài chính công nghệ từ năm 2015 với vai trò là nhà cung cấp nền tảng công nghệ cho vay ngang hàng (P2P) đầu tiên tại Việt Nam. Tháng 6 năm 2016, TIMA bắt đầu triển khai dịch vụ cho vay tín chấp trực tuyến, cung cấp dịch vụ tư vấn tài chính đơn giản, nhanh chóng và tin cậy đến khách hàng trên Toàn Quốc.
                                h3 ĐƠN GIẢN

                                p TIMA cung cấp dịch vụ thuận tiện cho phép bạn đăng ký khoản vay online, duyệt thông tin đăng ký nhanh qua điện thoại, ký hợp đồng tại địa điểm khách hàng chỉ định. Thủ tục đơn giản, điều kiện cho vay linh hoạt giúp bạn dễ dàng tiếp cận nguồn vốn cần thiết.
                                
                                h3 NHANH CHÓNG

                                p Sau khi điền thông tin vào mẫu đơn, chúng tôi sẽ gọi điện cho bạn trong vòng 30 phút để thông báo số tiền được duyệt về khoản vay. Ngay sau khi ký hợp đồng bạn có thể nhận được tiền giải ngân thông qua tài khoản ngân hàng hoặc tại hơn 4000 điểm giao dịch của đối tác trên Toàn Quốcản, điều kiện cho vay linh hoạt giúp bạn dễ dàng tiếp cận nguồn vốn cần thiết.

                                h3 TIN CẬY

                                p TIMA sở hữu hệ thống điểm giao dịch trên toàn quốc, cung cấp dịch vụ tư vấn tài chính chất lượng cao. Chúng tôi cung cấp đầy đủ và trung thực các thông tin về khoản vay, lãi và chi phí liên quan khi đăng ký khoản vay. Bạn sẽ được tư vấn tận tình và chu đáo từ tổng đài tư vấn miễn phí 1800 6919 để cân nhắc trước khi quyết định mà không phải lo lắng về các khoản phí dịch vụ không rõ ràng.
                    .row.list-info
                        .col-md-3.col-sm-6
                            .about-circle
                                img(src="imgs/calendar.png")

                            p.about-info
                                | Trụ sở chính tại Hà Nội
                        .col-md-3.col-sm-6
                            .about-circle
                                img(src="imgs/map.png")

                            p.about-info
                                | Số lượng 300 nhân viên
                        .col-md-3.col-sm-6
                            .about-circle
                                img(src="imgs/user-about.png")

                            p.about-info
                                | TSố lượng 41 cửa hàng
                        .col-md-3.col-sm-6
                            .about-circle
                                img.shop-icon(src="imgs/shop.png")

                            p.about-info
                                | Thành lập năm 2016


                    
        
                                

        

        

dist/5_about.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>3 Can cho vay</title>
    <meta name="description" content="Page description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="ico/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet" type="text/css">
    <link href="css/slick-theme.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    <header class="site-header" id="header">
      <div class="container">
        <nav class="navbar navbar-default nav-tima">
          <div class="in-nav-tima">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html"><img src="imgs/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div class="collapse navbar-collapse collapse-tima" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav nav-login">
                <li><a href="signup.html">Đăng ký</a><span>|</span></li>
                <li><a href="login.html">Đăng nhập</a><span>|</span></li>
                <li><a href="6_report.html">Thông báo</a><span>|</span></li>
                <li class="before-contact"><a href="5_support.html">Trung tâm hỗ trợ </a><span>|</span></li>
                <li class="contact-top"><img src="imgs/icon-iphone.png"><span class="spanHotline">| </span> Hotline:<a href="tel:1800 6919" style="padding-left:5px;">1800 6919</a></li>
              </ul>
              <ul class="nav navbar-nav main-menu">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                <li><a href="5_about.html">Giới thiệu tima</a></li>
                <li><a href="login.html">Đăng nhập</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse-->
          </div>
          <!-- /.container-fluid-->
        </nav>
      </div>
    </header>
    <main class="site-main" id="main">
      <div class="wrap-content">
        <div class="defautl-section filter-search first-section">
          <div class="container">
            <div class="border-section" style="overflow:visible;">
              <div class="row">
                <div class="col-md-9">
                  <div class="title-section">Giới thiệu về tima</div>
                </div>
                <div class="col-md-12">
                  <div class="row img_about">
                    <div class="col-sm-6"><img src="imgs/about_1.jpg"></div>
                    <div class="col-sm-6"><img src="imgs/about_2.jpg"></div>
                  </div>
                  <div class="detail-about">
                    <p>Với số vốn đầu tư ban đầu 150 tỷ VNĐ, TIMA bắt đầu tham gia thị trường tài chính công nghệ từ năm 2015 với vai trò là nhà cung cấp nền tảng công nghệ cho vay ngang hàng (P2P) đầu tiên tại Việt Nam. Tháng 6 năm 2016, TIMA bắt đầu triển khai dịch vụ cho vay tín chấp trực tuyến, cung cấp dịch vụ tư vấn tài chính đơn giản, nhanh chóng và tin cậy đến khách hàng trên Toàn Quốc.</p>
                    <h3>ĐƠN GIẢN</h3>
                    <p>TIMA cung cấp dịch vụ thuận tiện cho phép bạn đăng ký khoản vay online, duyệt thông tin đăng ký nhanh qua điện thoại, ký hợp đồng tại địa điểm khách hàng chỉ định. Thủ tục đơn giản, điều kiện cho vay linh hoạt giúp bạn dễ dàng tiếp cận nguồn vốn cần thiết.</p>
                    <h3>NHANH CHÓNG</h3>
                    <p>Sau khi điền thông tin vào mẫu đơn, chúng tôi sẽ gọi điện cho bạn trong vòng 30 phút để thông báo số tiền được duyệt về khoản vay. Ngay sau khi ký hợp đồng bạn có thể nhận được tiền giải ngân thông qua tài khoản ngân hàng hoặc tại hơn 4000 điểm giao dịch của đối tác trên Toàn Quốcản, điều kiện cho vay linh hoạt giúp bạn dễ dàng tiếp cận nguồn vốn cần thiết.</p>
                    <h3>TIN CẬY</h3>
                    <p>TIMA sở hữu hệ thống điểm giao dịch trên toàn quốc, cung cấp dịch vụ tư vấn tài chính chất lượng cao. Chúng tôi cung cấp đầy đủ và trung thực các thông tin về khoản vay, lãi và chi phí liên quan khi đăng ký khoản vay. Bạn sẽ được tư vấn tận tình và chu đáo từ tổng đài tư vấn miễn phí 1800 6919 để cân nhắc trước khi quyết định mà không phải lo lắng về các khoản phí dịch vụ không rõ ràng.</p>
                  </div>
                </div>
              </div>
              <div class="row list-info">
                <div class="col-md-3 col-sm-6">
                  <div class="about-circle"><img src="imgs/calendar.png"></div>
                  <p class="about-info">Trụ sở chính tại Hà Nội</p>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="about-circle"><img src="imgs/map.png"></div>
                  <p class="about-info">Số lượng 300 nhân viên</p>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="about-circle"><img src="imgs/user-about.png"></div>
                  <p class="about-info">TSố lượng 41 cửa hàng</p>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="about-circle"><img class="shop-icon" src="imgs/shop.png"></div>
                  <p class="about-info">Thành lập năm 2016</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="site-footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-6"> 
                <ul>
                  <li><a href="index.html">Trang chủ</a></li>
                  <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                  <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul>
                  <li><a href="5_about.html">Giới thiệu tima</a></li>
                  <li><a href="login.html">Đăng nhập</a></li>
                </ul>
              </div>
            </div>
            <p class="copyR">© 2015 Bản quyền thuộc về Tima</p>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5 right-border-footer">
                <p class="hot-txt">hotline</p>
                <p class="num-tel">1800 6919</p>
                <p class="email-txt"><a href="mailto:support@tima.vn">Email: support@tima.vn</a></p>
              </div>
              <div class="col-md-7">
                <p class="cta">Bạn đã sẵn sàng trải nghiệm vay nhanh cùng Tima?</p>
                <div class="install"><a href="#"><img src="imgs/icon-apple.png"></a><a href="#"><img src="imgs/icon-android.png"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/scripts.min.js"></script>
  </body>
</html>
