dist/5_support.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dau tu cho vay</title>
    <meta name="description" content="Page description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="ico/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet" type="text/css">
    <link href="css/slick-theme.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    <header class="site-header" id="header">
      <div class="container">
        <nav class="navbar navbar-default nav-tima">
          <div class="in-nav-tima">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html"><img src="imgs/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div class="collapse navbar-collapse collapse-tima" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav nav-login">
                <li><a href="signup.html">Đăng ký</a><span>|</span></li>
                <li><a href="login.html">Đăng nhập</a><span>|</span></li>
                <li><a href="6_report.html">Thông báo</a><span>|</span></li>
                <li class="before-contact"><a href="5_support.html">Trung tâm hỗ trợ </a><span>|</span></li>
                <li class="contact-top"><img src="imgs/icon-iphone.png"><span class="spanHotline">| </span> Hotline:<a href="tel:1800 6919" style="padding-left:5px;">1800 6919</a></li>
              </ul>
              <ul class="nav navbar-nav main-menu">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                <li><a href="5_about.html">Giới thiệu tima</a></li>
                <li><a href="login.html">Đăng nhập</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse-->
          </div>
          <!-- /.container-fluid-->
        </nav>
      </div>
    </header>
    <main class="site-main" id="main">
      <div class="wrap-content">
        <div class="default-section support-section">
          <div class="container">
            <div class="title-section">Trung tâm trợ giúp
              <div class="search-support">
                <div class="div-search"><i class="fa fa-search"></i>
                  <input class="input-tima input-search" placeholder="Nhập từ khóa tìm kiếm">
                </div>
                <div class="sort-search"><span class="title-sort">Tìm kiếm phổ biến:</span><a href="#">đối tác   </a><span class="sep">| </span><a href="#">vay nhanh </a><span class="sep">| </span><a href="#">giải ngân trong ngày</a></div>
              </div>
            </div>
            <div class="support-content">
              <div class="left-support">
                <ul class="nav menu_support" role="tablist">
                  <li class="active" role="question"><a href="#question" aria-controls="question" role="tab" data-toggle="tab">Câu hỏi</a></li>
                  <li role="invest"><a href="#invest" aria-controls="invest" role="tab" data-toggle="tab">Đầu tư và nạp tiền</a></li>
                  <li role="change"><a href="#change" aria-controls="profile" role="tab" data-toggle="tab">Chuyển đổi và rút tiền</a></li>
                </ul>
              </div>
              <div class="right-support">
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="question" role="tabpanel"> 
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"></h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam?</a>
                        </div>
                        <div class="panel-collapse collapse in" id="collapseOne">
                          <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam. Consectetuer proin. Nunc est quis dui id proin, vivamus arcu est etiam mattis, quam pellentesque. Et mauris mauris bibendum volutpat pellentesque et, quisque rhoncus ante sagittis morbi. Ornare consequatur nibh ipsum quis montes, facilisis suspendisse, justo turpis rhoncus, tortor curabitur, libero netus non lorem ullamcorper eu. Laoreet non ut metus, arcu a ultricies pede arcu mi.</p>
                            <p>Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam. Consectetuer proin. Nunc est quis dui id proin, vivamus arcu est etiam mattis, quam pellentesque. Et mauris mauris bibendum volutpat pellentesque et, quisque rhoncus ante sagittis morbi. Ornare consequatur nibh ipsum quis montes, facilisis suspendisse, justo turpis rhoncus, tortor curabitur, libero netus non lorem ullamcorper eu. Laoreet non ut metus, arcu a ultricies pede arcu mi.</p>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"></h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam?</a>
                        </div>
                        <div class="panel-collapse collapse" id="collapseTwo">
                          <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus</div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"></h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam?</a>
                        </div>
                        <div class="panel-collapse collapse" id="collapseThree">
                          <div class="panel-body">Aorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam. Consectetuer proin. Nunc est quis dui id proin, vivamus arcu est etiam mattis, quam pellentesque. Et mauris mauris bibendum volutpat pellentesque et, quisque rhoncus ante sagittis morbi. Ornare consequatur nibh ipsum quis montes, facilisis suspendisse, justo turpis rhoncus, tortor curabitur, libero netus non lorem ullamcorper eu. Laoreet non ut metus, arcu a ultricies pede arcu mi.</div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"></h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseF">Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam?</a>
                        </div>
                        <div class="panel-collapse collapse" id="collapseF">
                          <div class="panel-body">Aorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam. Consectetuer proin. Nunc est quis dui id proin, vivamus arcu est etiam mattis, quam pellentesque. Et mauris mauris bibendum volutpat pellentesque et, quisque rhoncus ante sagittis morbi. Ornare consequatur nibh ipsum quis montes, facilisis suspendisse, justo turpis rhoncus, tortor curabitur, libero netus non lorem ullamcorper eu. Laoreet non ut metus, arcu a ultricies pede arcu mi.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="invest" role="tabpanel"> 
                    <div class="row">
                      <div class="no-result">
                        <div class="col-md-6 left-no-result">
                          <p>
                             Xin lỗi, ko có kết quả tìm kiếm liên quan đến<br>Hãy đến khu yêu cầu giúp đỡ để được trợ giúp</p>
                        </div>
                        <div class="col-md-6 right-no-result">
                          <div class="in-right-result">
                            <p><img src="imgs/mavach.jpg"></p>
                            <p>
                               Hoặc quét mã 2 chiều<br>Cài thêm ứng dụng của Tima để được hỗ trợ</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="change" role="tabpanel"> Chuyển đổi và rút </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="site-footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-6"> 
                <ul>
                  <li><a href="index.html">Trang chủ</a></li>
                  <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                  <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul>
                  <li><a href="5_about.html">Giới thiệu tima</a></li>
                  <li><a href="login.html">Đăng nhập</a></li>
                </ul>
              </div>
            </div>
            <p class="copyR">© 2015 Bản quyền thuộc về Tima</p>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5 right-border-footer">
                <p class="hot-txt">hotline</p>
                <p class="num-tel">1800 6919</p>
                <p class="email-txt"><a href="mailto:support@tima.vn">Email: support@tima.vn</a></p>
              </div>
              <div class="col-md-7">
                <p class="cta">Bạn đã sẵn sàng trải nghiệm vay nhanh cùng Tima?</p>
                <div class="install"><a href="#"><img src="imgs/icon-apple.png"></a><a href="#"><img src="imgs/icon-android.png"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/scripts.min.js"></script>
  </body>
</html>

app/source/5_support.pug
extends layouts/layout-full.pug

block config
    - var title = 'Dau tu cho vay'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .default-section.support-section
            .container
                .title-section
                    |Trung tâm trợ giúp
                    .search-support
                        .div-search
                            i.fa.fa-search
                            input.input-tima.input-search(placeholder="Nhập từ khóa tìm kiếm")
                        .sort-search
                            span.title-sort Tìm kiếm phổ biến:
                            a(href="#") đối tác   
                            span.sep | 
                            a(href="#") vay nhanh 
                            span.sep | 
                            a(href="#") giải ngân trong ngày
                .support-content
                    .left-support
                        ul.nav.menu_support(role="tablist")
                            li.active(role="question")
                                a(href="#question",aria-controls="question", role="tab" data-toggle="tab") Câu hỏi
                            li(role="invest")
                                a(href="#invest",aria-controls="invest", role="tab" data-toggle="tab") Đầu tư và nạp tiền
                            li(role="change")
                                a(href="#change",aria-controls="profile", role="tab" data-toggle="tab") Chuyển đổi và rút tiền
                    .right-support
                        .tab-content
                            #question.tab-pane.fade.in.active(role="tabpanel")  
                                #accordion.panel-group
                                    .panel.panel-default
                                        .panel-heading
                                            h4.panel-title
                                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                                                | Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam?
                                        #collapseOne.panel-collapse.collapse.in
                                            .panel-body
                                                p Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam. Consectetuer proin. Nunc est quis dui id proin, vivamus arcu est etiam mattis, quam pellentesque. Et mauris mauris bibendum volutpat pellentesque et, quisque rhoncus ante sagittis morbi. Ornare consequatur nibh ipsum quis montes, facilisis suspendisse, justo turpis rhoncus, tortor curabitur, libero netus non lorem ullamcorper eu. Laoreet non ut metus, arcu a ultricies pede arcu mi.
                                                p Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam. Consectetuer proin. Nunc est quis dui id proin, vivamus arcu est etiam mattis, quam pellentesque. Et mauris mauris bibendum volutpat pellentesque et, quisque rhoncus ante sagittis morbi. Ornare consequatur nibh ipsum quis montes, facilisis suspendisse, justo turpis rhoncus, tortor curabitur, libero netus non lorem ullamcorper eu. Laoreet non ut metus, arcu a ultricies pede arcu mi.

                                    .panel.panel-default
                                        .panel-heading
                                            h4.panel-title
                                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                                                | Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam?
                                        #collapseTwo.panel-collapse.collapse
                                            .panel-body
                                                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                    .panel.panel-default
                                        .panel-heading
                                            h4.panel-title
                                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                                                | Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam?
                                        #collapseThree.panel-collapse.collapse
                                            .panel-body
                                                | Aorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam. Consectetuer proin. Nunc est quis dui id proin, vivamus arcu est etiam mattis, quam pellentesque. Et mauris mauris bibendum volutpat pellentesque et, quisque rhoncus ante sagittis morbi. Ornare consequatur nibh ipsum quis montes, facilisis suspendisse, justo turpis rhoncus, tortor curabitur, libero netus non lorem ullamcorper eu. Laoreet non ut metus, arcu a ultricies pede arcu mi.
                                    .panel.panel-default
                                        .panel-heading
                                            h4.panel-title
                                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseF')
                                                | Lorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam?
                                        #collapseF.panel-collapse.collapse
                                            .panel-body
                                                | Aorem ipsum dolor sit amet, aliquam id, mi mauris arcu vel ante diam, cras nec cum eu urna nonummy aliquam. Consectetuer proin. Nunc est quis dui id proin, vivamus arcu est etiam mattis, quam pellentesque. Et mauris mauris bibendum volutpat pellentesque et, quisque rhoncus ante sagittis morbi. Ornare consequatur nibh ipsum quis montes, facilisis suspendisse, justo turpis rhoncus, tortor curabitur, libero netus non lorem ullamcorper eu. Laoreet non ut metus, arcu a ultricies pede arcu mi.
                            #invest.tab-pane.fade(role="tabpanel")  
                                .row
                                    .no-result
                                        .col-md-6.left-no-result
                                                p 
                                                    | Xin lỗi, ko có kết quả tìm kiếm liên quan đến
                                                    br
                                                    | Hãy đến khu yêu cầu giúp đỡ để được trợ giúp
                                        .col-md-6.right-no-result
                                            .in-right-result
                                                p
                                                    img(src="imgs/mavach.jpg")
                                                p 
                                                    | Hoặc quét mã 2 chiều
                                                    br
                                                    | Cài thêm ứng dụng của Tima để được hỗ trợ



                            #change.tab-pane.fade(role="tabpanel")  Chuyển đổi và rút 
                    
                    
                        
  

        
