app/source/6_report.pug
extends layouts/layout-full.pug

block config
    - var title = '6 Report'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .defautl-section.filter-search.first-section
            .container
                .border-section(style="overflow:visible")
                    .row
                        .col-md-12
                            .title-section
                                | Trung tâm thông báo
                        .col-md-12
                            ul.ul.ul-report
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                                li
                                    .row
                                        .col-sm-9
                                            span.from-report [Hệ thống thông báo]
                                            span.ct-report Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07
                                        .col-sm-3
                                            span.date-report 14/07/2017
                    .report-nav
                        ul.pagination.pagination-tima
                            li.active
                                a(href='#') 1
                            li
                                a(href='#') 2
                            li
                                a(href='#') 3
                            li.dot
                                a(href='#') ...
                            li
                                a(href='#') 6

                    
        
                                

        

        

dist/6_report.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>6 Report</title>
    <meta name="description" content="Page description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="ico/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet" type="text/css">
    <link href="css/slick-theme.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    <header class="site-header" id="header">
      <div class="container">
        <nav class="navbar navbar-default nav-tima">
          <div class="in-nav-tima">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html"><img src="imgs/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div class="collapse navbar-collapse collapse-tima" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav nav-login">
                <li><a href="signup.html">Đăng ký</a><span>|</span></li>
                <li><a href="login.html">Đăng nhập</a><span>|</span></li>
                <li><a href="6_report.html">Thông báo</a><span>|</span></li>
                <li class="before-contact"><a href="5_support.html">Trung tâm hỗ trợ </a><span>|</span></li>
                <li class="contact-top"><img src="imgs/icon-iphone.png"><span class="spanHotline">| </span> Hotline:<a href="tel:1800 6919" style="padding-left:5px;">1800 6919</a></li>
              </ul>
              <ul class="nav navbar-nav main-menu">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                <li><a href="5_about.html">Giới thiệu tima</a></li>
                <li><a href="login.html">Đăng nhập</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse-->
          </div>
          <!-- /.container-fluid-->
        </nav>
      </div>
    </header>
    <main class="site-main" id="main">
      <div class="wrap-content">
        <div class="defautl-section filter-search first-section">
          <div class="container">
            <div class="border-section" style="overflow:visible;">
              <div class="row">
                <div class="col-md-12">
                  <div class="title-section">Trung tâm thông báo</div>
                </div>
                <div class="col-md-12">
                  <ul class="ul ul-report">
                    <li>
                      <div class="row">
                        <div class="col-sm-9"><span class="from-report">[Hệ thống thông báo]</span><span class="ct-report">Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07</span></div>
                        <div class="col-sm-3"><span class="date-report">14/07/2017</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-sm-9"><span class="from-report">[Hệ thống thông báo]</span><span class="ct-report">Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07</span></div>
                        <div class="col-sm-3"><span class="date-report">14/07/2017</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-sm-9"><span class="from-report">[Hệ thống thông báo]</span><span class="ct-report">Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07</span></div>
                        <div class="col-sm-3"><span class="date-report">14/07/2017</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-sm-9"><span class="from-report">[Hệ thống thông báo]</span><span class="ct-report">Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07</span></div>
                        <div class="col-sm-3"><span class="date-report">14/07/2017</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-sm-9"><span class="from-report">[Hệ thống thông báo]</span><span class="ct-report">Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07</span></div>
                        <div class="col-sm-3"><span class="date-report">14/07/2017</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-sm-9"><span class="from-report">[Hệ thống thông báo]</span><span class="ct-report">Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07</span></div>
                        <div class="col-sm-3"><span class="date-report">14/07/2017</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-sm-9"><span class="from-report">[Hệ thống thông báo]</span><span class="ct-report">Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07</span></div>
                        <div class="col-sm-3"><span class="date-report">14/07/2017</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-sm-9"><span class="from-report">[Hệ thống thông báo]</span><span class="ct-report">Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07</span></div>
                        <div class="col-sm-3"><span class="date-report">14/07/2017</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-sm-9"><span class="from-report">[Hệ thống thông báo]</span><span class="ct-report">Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07</span></div>
                        <div class="col-sm-3"><span class="date-report">14/07/2017</span></div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-sm-9"><span class="from-report">[Hệ thống thông báo]</span><span class="ct-report">Thông báo về việc bảo trì hệ thống giờ đầu của ngày 16/07</span></div>
                        <div class="col-sm-3"><span class="date-report">14/07/2017</span></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="report-nav">
                <ul class="pagination pagination-tima">
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li class="dot"><a href="#">...</a></li>
                  <li><a href="#">6</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="site-footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-6"> 
                <ul>
                  <li><a href="index.html">Trang chủ</a></li>
                  <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                  <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul>
                  <li><a href="5_about.html">Giới thiệu tima</a></li>
                  <li><a href="login.html">Đăng nhập</a></li>
                </ul>
              </div>
            </div>
            <p class="copyR">© 2015 Bản quyền thuộc về Tima</p>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5 right-border-footer">
                <p class="hot-txt">hotline</p>
                <p class="num-tel">1800 6919</p>
                <p class="email-txt"><a href="mailto:support@tima.vn">Email: support@tima.vn</a></p>
              </div>
              <div class="col-md-7">
                <p class="cta">Bạn đã sẵn sàng trải nghiệm vay nhanh cùng Tima?</p>
                <div class="install"><a href="#"><img src="imgs/icon-apple.png"></a><a href="#"><img src="imgs/icon-android.png"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/scripts.min.js"></script>
  </body>
</html>
