app/7_news.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>7 Tin tuc</title>
    <meta name="description" content="Page description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="ico/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet" type="text/css">
    <link href="css/slick-theme.css" rel="stylesheet" type="text/css">
    <!-- build:css css/style.min.css-->
    <link href="css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <!-- endbuild-->
  </head>
  <body>
    <header class="site-header" id="header">
      <div class="container">
        <nav class="navbar navbar-default nav-tima">
          <div class="in-nav-tima">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html"><img src="imgs/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div class="collapse navbar-collapse collapse-tima" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav nav-login">
                <li><a href="signup.html">Đăng ký</a><span>|</span></li>
                <li><a href="login.html">Đăng nhập</a><span>|</span></li>
                <li><a href="6_report.html">Thông báo</a><span>|</span></li>
                <li class="before-contact"><a href="5_support.html">Trung tâm hỗ trợ </a><span>|</span></li>
                <li class="contact-top"><img src="imgs/icon-iphone.png"><span class="spanHotline">| </span> Hotline:<a href="tel:1800 6919" style="padding-left:5px;">1800 6919</a></li>
              </ul>
              <ul class="nav navbar-nav main-menu">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                <li><a href="5_about.html">Giới thiệu tima</a></li>
                <li><a href="login.html">Đăng nhập</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse-->
          </div>
          <!-- /.container-fluid-->
        </nav>
      </div>
    </header>
    <main class="site-main" id="main">
      <div class="wrap-content">
        <div class="default-section tab-section">
          <div class="container">
            <ul class="nav" role="tablist">
              <li class="active" role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Menu 1</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Menu 2</a></li>
            </ul>
          </div>
        </div>
        <div class="defautl-section news-page">
          <div class="container">
            <div class="row">
              <div class="col-md-9">
                <div class="border-section">
                  <div class="row">
                    <div class="up-news">
                      <div class="col-md-8 col-sm-7 left-up"><a class="hot-news" href="#"><img src="imgs/570.jpg"></a>
                        <h3><a href="#">'Chiêu độc' tiết kiệm tiền cho người độc thân</a></h3>
                        <p class="lead">Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..</p>
                      </div>
                      <div class="col-md-4 col-sm-5 right-up">
                        <ul class="ul">
                          <li><a class="list-news-img" href="#"><img src="imgs/221-1.jpg"></a>
                            <h4 class="list-title"><a href="#">2 năm làm 1 vị trí, nên nghỉ việc hay làm tiếp</a></h4>
                          </li>
                          <li><a class="list-news-img" href="#"><img src="imgs/221-2.jpg"></a>
                            <h4 class="list-title"><a href="#">2 năm làm 1 vị trí, nên nghỉ việc hay làm tiếp</a></h4>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="under-news">
                      <ul class="ul ul-news-page">
                        <li><a class="list-news-img" href="#"><img src="imgs/221-3.jpg"></a>
                          <h4 class="list-title"><a href="#">4 cách giúp cha mẹ tiết kiệm tiền hiệu quả cho tương lai của...</a></h4>
                          <p class="date-news-post">11/07/2017 10:42</p>
                          <p class="lead">Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..</p>
                        </li>
                        <li><a class="list-news-img" href="#"><img src="imgs/221-4.jpg"></a>
                          <h4 class="list-title"><a href="#">2 năm làm 1 vị trí, nên nghỉ việc hay làm tiếp</a></h4>
                          <p class="date-news-post">11/07/2017 10:42</p>
                          <p class="lead">Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..</p>
                        </li>
                        <li><a class="list-news-img" href="#"><img src="imgs/221-5.jpg"></a>
                          <h4 class="list-title"><a href="#">4 cách giúp cha mẹ tiết kiệm tiền hiệu quả cho tương lai của...</a></h4>
                          <p class="date-news-post">11/07/2017 10:42</p>
                          <p class="lead">Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..</p>
                        </li>
                        <li><a class="list-news-img" href="#"><img src="imgs/221-1.jpg"></a>
                          <h4 class="list-title"><a href="#">2 năm làm 1 vị trí, nên nghỉ việc hay làm tiếp</a></h4>
                          <p class="date-news-post">11/07/2017 10:42</p>
                          <p class="lead">Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..</p>
                        </li>
                        <li><a class="list-news-img" href="#"><img src="imgs/221-2.jpg"></a>
                          <h4 class="list-title"><a href="#">4 cách giúp cha mẹ tiết kiệm tiền hiệu quả cho tương lai của...</a></h4>
                          <p class="date-news-post">11/07/2017 10:42</p>
                          <p class="lead">Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..</p>
                        </li>
                      </ul>
                      <div class="report-nav">
                        <ul class="pagination pagination-tima">
                          <li class="active"><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li class="dot"><a href="#">...</a></li>
                          <li><a href="#">6</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="defautl-section setup-app">
                  <div class="border-section">
                    <div class="title-section">Hướng dẫn cài app</div>
                    <div class="install"><a href="#"><img src="imgs/icon-apple.png"></a><a href="#"><img src="imgs/icon-android.png"></a></div>
                  </div>
                </div>
                <div class="defautl-section faq-section">
                  <div class="border-section">
                    <div class="title-section">Hỏi đáp</div>
                    <ul class="ul ul-faq">
                      <li><a href="#"> <i class="fa fa-caret-right"></i>Sản phẩm/ Dịch vụ</a></li>
                      <li><a href="#"> <i class="fa fa-caret-right"></i>Về khoản vay</a></li>
                      <li><a href="#"> <i class="fa fa-caret-right"></i>Thanh toán khoản vay</a></li>
                    </ul>
                  </div>
                </div>
                <div class="defautl-section faq-section">
                  <div class="border-section">
                    <div class="title-section">Báo chí nói về chúng tôi</div>
                    <ul class="ul ul-news-right">
                      <li>
                        <div class="source-news"><img class="baochi" src="imgs/bao1.png">
                          <div class="date-post">18/07/17</div>
                        </div>
                        <div class="under-list"><a class="img-post" href="#"><img src="imgs/news.png"></a><a class="title-news" href="#">
                             Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88</a></div>
                      </li>
                      <li>
                        <div class="source-news"><img class="baochi" src="imgs/bao1.png">
                          <div class="date-post">18/07/17</div>
                        </div>
                        <div class="under-list"><a class="img-post" href="#"><img src="imgs/news.png"></a><a class="title-news" href="#">
                             Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88</a></div>
                      </li>
                      <li>
                        <div class="source-news"><img class="baochi" src="imgs/bao1.png">
                          <div class="date-post">18/07/17</div>
                        </div>
                        <div class="under-list"><a class="img-post" href="#"><img src="imgs/news.png"></a><a class="title-news" href="#">
                             Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88</a></div>
                      </li>
                      <li>
                        <div class="source-news"><img class="baochi" src="imgs/bao1.png">
                          <div class="date-post">18/07/17</div>
                        </div>
                        <div class="under-list"><a class="img-post" href="#"><img src="imgs/news.png"></a><a class="title-news" href="#">
                             Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88</a></div>
                      </li>
                      <li>
                        <div class="source-news"><img class="baochi" src="imgs/bao1.png">
                          <div class="date-post">18/07/17</div>
                        </div>
                        <div class="under-list"><a class="img-post" href="#"><img src="imgs/news.png"></a><a class="title-news" href="#">
                             Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88</a></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="site-footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-6"> 
                <ul>
                  <li><a href="index.html">Trang chủ</a></li>
                  <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                  <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul>
                  <li><a href="5_about.html">Giới thiệu tima</a></li>
                  <li><a href="login.html">Đăng nhập</a></li>
                </ul>
              </div>
            </div>
            <p class="copyR">© 2015 Bản quyền thuộc về Tima</p>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5 right-border-footer">
                <p class="hot-txt">hotline</p>
                <p class="num-tel">1800 6919</p>
                <p class="email-txt"><a href="mailto:support@tima.vn">Email: support@tima.vn</a></p>
              </div>
              <div class="col-md-7">
                <p class="cta">Bạn đã sẵn sàng trải nghiệm vay nhanh cùng Tima?</p>
                <div class="install"><a href="#"><img src="imgs/icon-apple.png"></a><a href="#"><img src="imgs/icon-android.png"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- build:js js/scripts.min.js-->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/vendor/holder.js"></script>
    <script src="js/vendor/slick.min.js"></script>
    <script src="js/vendor/bootstrap-select.js"></script>
    <script src="js/custom.js"></script>
    <!-- endbuild-->
  </body>
</html>

app/source/7_news.pug
extends layouts/layout-full.pug

block config
    - var title = '7 Tin tuc'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .default-section.tab-section
            .container
                ul.nav(role="tablist")
                    li.active(role="presentation")
                        a(href="#home",aria-controls="home", role="tab" data-toggle="tab") Menu 1
                    li(role="presentation")
                        a(href="#profile",aria-controls="profile", role="tab" data-toggle="tab") Menu 2
                //- .tab-content
                //-     #home.tab-pane.fade.in.active(role="tabpanel")  home
                //-     #profile.tab-pane.fade.in(role="tabpanel")  profile
        
        .defautl-section.news-page
            .container
                .row
                    .col-md-9
                        .border-section
                            .row
                                .up-news
                                    .col-md-8.col-sm-7.left-up
                                        a.hot-news(href="#")
                                            img(src="imgs/570.jpg")
                                        h3
                                            a(href="#") 'Chiêu độc' tiết kiệm tiền cho người độc thân
                                        p.lead
                                            |Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..

                                    .col-md-4.col-sm-5.right-up
                                        ul.ul
                                            li
                                                a.list-news-img(href="#")
                                                    img(src="imgs/221-1.jpg")
                                                h4.list-title
                                                    a(href="#") 2 năm làm 1 vị trí, nên nghỉ việc hay làm tiếp
                                            li
                                                a.list-news-img(href="#")
                                                    img(src="imgs/221-2.jpg")
                                                h4.list-title
                                                    a(href="#") 2 năm làm 1 vị trí, nên nghỉ việc hay làm tiếp
                                .under-news
                                    ul.ul.ul-news-page
                                        li
                                            a.list-news-img(href="#")
                                                img(src="imgs/221-3.jpg")
                                            h4.list-title
                                                a(href="#") 4 cách giúp cha mẹ tiết kiệm tiền hiệu quả cho tương lai của...
                                            p.date-news-post
                                                | 11/07/2017 10:42
                                            p.lead
                                                |Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..
                                        li
                                            a.list-news-img(href="#")
                                                img(src="imgs/221-4.jpg")
                                            h4.list-title
                                                a(href="#") 2 năm làm 1 vị trí, nên nghỉ việc hay làm tiếp
                                            p.date-news-post
                                                | 11/07/2017 10:42
                                            p.lead
                                                |Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..
                                        li
                                            a.list-news-img(href="#")
                                                img(src="imgs/221-5.jpg")
                                            h4.list-title
                                                a(href="#") 4 cách giúp cha mẹ tiết kiệm tiền hiệu quả cho tương lai của...
                                            p.date-news-post
                                                | 11/07/2017 10:42
                                            p.lead
                                                |Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..
                                        li
                                            a.list-news-img(href="#")
                                                img(src="imgs/221-1.jpg")
                                            h4.list-title
                                                a(href="#") 2 năm làm 1 vị trí, nên nghỉ việc hay làm tiếp
                                            p.date-news-post
                                                | 11/07/2017 10:42
                                            p.lead
                                                |Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..
                                        li
                                            a.list-news-img(href="#")
                                                img(src="imgs/221-2.jpg")
                                            h4.list-title
                                                a(href="#") 4 cách giúp cha mẹ tiết kiệm tiền hiệu quả cho tương lai của...
                                            p.date-news-post
                                                | 11/07/2017 10:42
                                            p.lead
                                                |Quản lý tài chính cá nhân thế nào cho hợp lí là một vấn đề nan giải với những người độc thân bởi nhiều khi họ không kiểm soát được chi tiêu của mình, nhất là..
                                    .report-nav
                                        ul.pagination.pagination-tima
                                            li.active
                                                a(href='#') 1
                                            li
                                                a(href='#') 2
                                            li
                                                a(href='#') 3
                                            li.dot
                                                a(href='#') ...
                                            li
                                                a(href='#') 6

                    .col-md-3
                        .defautl-section.setup-app
                            .border-section
                                .title-section
                                    | Hướng dẫn cài app
                                div.install
                                    a(href="#")
                                        img(src="imgs/icon-apple.png")
                                    a(href="#")
                                        img(src="imgs/icon-android.png")
                        .defautl-section.faq-section
                            .border-section
                                .title-section
                                    | Hỏi đáp
                                ul.ul.ul-faq
                                    li
                                        a(href="#") 
                                            i.fa.fa-caret-right
                                            | Sản phẩm/ Dịch vụ
                                    li
                                        a(href="#") 
                                            i.fa.fa-caret-right
                                            |Về khoản vay
                                    li
                                        a(href="#") 
                                            i.fa.fa-caret-right
                                            |Thanh toán khoản vay

                        .defautl-section.faq-section
                            .border-section
                                .title-section
                                    | Báo chí nói về chúng tôi
                                ul.ul.ul-news-right
                                    li
                                        .source-news
                                            img.baochi(src="imgs/bao1.png")
                                            .date-post 18/07/17
                                        .under-list
                                            a.img-post(href="#")
                                                img(src="imgs/news.png")
                                            a.title-news(href="#") 
                                                |Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88
                                    li
                                        .source-news
                                            img.baochi(src="imgs/bao1.png")
                                            .date-post 18/07/17
                                        .under-list
                                            a.img-post(href="#")
                                                img(src="imgs/news.png")
                                            a.title-news(href="#") 
                                                |Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88
                                    li
                                        .source-news
                                            img.baochi(src="imgs/bao1.png")
                                            .date-post 18/07/17
                                        .under-list
                                            a.img-post(href="#")
                                                img(src="imgs/news.png")
                                            a.title-news(href="#") 
                                                |Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88
                                    li
                                        .source-news
                                            img.baochi(src="imgs/bao1.png")
                                            .date-post 18/07/17
                                        .under-list
                                            a.img-post(href="#")
                                                img(src="imgs/news.png")
                                            a.title-news(href="#") 
                                                |Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88
                                    li
                                        .source-news
                                            img.baochi(src="imgs/bao1.png")
                                            .date-post 18/07/17
                                        .under-list
                                            a.img-post(href="#")
                                                img(src="imgs/news.png")
                                            a.title-news(href="#") 
                                                |Quỹ MEF III của Mekong Capital đầu tư vào công ty cầm đồ F88





        
