app/8_setup.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>8 Cai dat App</title>
    <meta name="description" content="Page description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="ico/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet" type="text/css">
    <link href="css/slick-theme.css" rel="stylesheet" type="text/css">
    <!-- build:css css/style.min.css-->
    <link href="css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <!-- endbuild-->
  </head>
  <body>
    <header class="site-header" id="header">
      <div class="container">
        <nav class="navbar navbar-default nav-tima">
          <div class="in-nav-tima">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html"><img src="imgs/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div class="collapse navbar-collapse collapse-tima" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav nav-login">
                <li><a href="signup.html">Đăng ký</a><span>|</span></li>
                <li><a href="login.html">Đăng nhập</a><span>|</span></li>
                <li><a href="6_report.html">Thông báo</a><span>|</span></li>
                <li class="before-contact"><a href="5_support.html">Trung tâm hỗ trợ </a><span>|</span></li>
                <li class="contact-top"><img src="imgs/icon-iphone.png"><span class="spanHotline">| </span> Hotline:<a href="tel:1800 6919" style="padding-left:5px;">1800 6919</a></li>
              </ul>
              <ul class="nav navbar-nav main-menu">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                <li><a href="5_about.html">Giới thiệu tima</a></li>
                <li><a href="login.html">Đăng nhập</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse-->
          </div>
          <!-- /.container-fluid-->
        </nav>
      </div>
    </header>
    <main class="site-main" id="main">
      <div class="wrap-content">
        <div class="defautl-section filter-search first-section">
          <div class="container">
            <div class="border-section" style="overflow:visible;">
              <div class="row">
                <div class="col-md-9">
                  <div class="title-section">Tải app về điện thoại</div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="left-setup">
                        <div class="setup-item">
                          <div class="setup-img"><img src="imgs/vaynhanh1.png"></div>
                          <h3>vay nhanh</h3>
                          <p>Lãi suất tốt nhất - Thủ tục đơn giản - Ngay gần bạn</p>
                        </div>
                        <div class="setup-item">
                          <div class="setup-img"><img src="imgs/mienphi.png"></div>
                          <h3>miễn phí</h3>
                          <p>Cho vay nhanh - Quản lí dễ dàng</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 right-code">
                      <div class="scan-code"><img src="imgs/code.jpg"></div>
                      <p class="txt-scan-code">Quét app tải về</p>
                      <div class="install"><a href="#"><img src="imgs/icon-apple.png"></a><a href="#"><img src="imgs/icon-android.png"></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="site-footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-6"> 
                <ul>
                  <li><a href="index.html">Trang chủ</a></li>
                  <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                  <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul>
                  <li><a href="5_about.html">Giới thiệu tima</a></li>
                  <li><a href="login.html">Đăng nhập</a></li>
                </ul>
              </div>
            </div>
            <p class="copyR">© 2015 Bản quyền thuộc về Tima</p>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5 right-border-footer">
                <p class="hot-txt">hotline</p>
                <p class="num-tel">1800 6919</p>
                <p class="email-txt"><a href="mailto:support@tima.vn">Email: support@tima.vn</a></p>
              </div>
              <div class="col-md-7">
                <p class="cta">Bạn đã sẵn sàng trải nghiệm vay nhanh cùng Tima?</p>
                <div class="install"><a href="#"><img src="imgs/icon-apple.png"></a><a href="#"><img src="imgs/icon-android.png"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- build:js js/scripts.min.js-->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/vendor/holder.js"></script>
    <script src="js/vendor/slick.min.js"></script>
    <script src="js/vendor/bootstrap-select.js"></script>
    <script src="js/custom.js"></script>
    <!-- endbuild-->
  </body>
</html>

app/source/8_setup.pug
extends layouts/layout-full.pug

block config
    - var title = '8 Cai dat App'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .defautl-section.filter-search.first-section
            .container
                .border-section(style="overflow:visible")
                    .row
                        .col-md-9
                            .title-section
                                | Tải app về điện thoại
                        .col-md-12
                            .row
                                .col-md-9
                                    .left-setup
                                        .setup-item
                                            .setup-img
                                                img(src="imgs/vaynhanh1.png")
                                            h3 vay nhanh
                                            p Lãi suất tốt nhất - Thủ tục đơn giản - Ngay gần bạn
                                        .setup-item
                                            .setup-img
                                                img(src="imgs/mienphi.png")
                                            h3 miễn phí
                                            p Cho vay nhanh - Quản lí dễ dàng
                                        //- .setup-item
                                        //-    img.san(src="imgs/san.png")
                                    
                                .col-md-3.right-code
                                    .scan-code
                                        img(src="imgs/code.jpg")
                                    p.txt-scan-code Quét app tải về
                                    div.install
                                        a(href="#")
                                            img(src="imgs/icon-apple.png")
                                        a(href="#")
                                            img(src="imgs/icon-android.png")
                            
                    


                    
        
                                

        

        
