a/dist/index.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="description" content="Page description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="ico/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    <header class="site-header" id="header">
      <div class="container">
        <nav class="navbar navbar-default nav-tima">
          <div class="in-nav-tima">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html"><img src="imgs/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div class="collapse navbar-collapse collapse-tima" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav nav-login">
                <li><a href="signup.html">Đăng ký</a><span>|</span></li>
                <li><a href="login.html">Đăng nhập</a><span>|</span></li>
                <li><a href="6_report.html">Thông báo</a><span>|</span></li>
                <li class="before-contact"><a href="5_support.html">Trung tâm hỗ trợ </a><span>|</span></li>
                <li class="contact-top"><img src="imgs/icon-iphone.png"><span class="spanHotline">| </span> Hotline:<a href="tel:1800 6919" style="padding-left:5px;">1800 6919</a></li>
              </ul>
              <ul class="nav navbar-nav main-menu">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                <li><a href="5_about.html">Giới thiệu tima</a></li>
                <li><a href="login.html">Đăng nhập</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse-->
          </div>
          <!-- /.container-fluid-->
        </nav>
      </div>
    </header>
    <main class="site-main" id="main">
      <div class="wrap-content">
        <div class="defautl-section hero-section">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="left-hero">
                  <h3 class="title-hero">Bạn cần vay nhanh 1 khoản tiền</h3>
                  <ul class="ul list-hero">
                    <li>Lãi suất tốt nhất</li>
                    <li>Gần nơi tôi sống</li>
                    <li>Thủ tục đơn giản</li>
                    <li>Giải ngân trong ngày</li>
                  </ul>
                  <div class="btn-hero"><a class="btn-tima btn-tima-dark">Đăng kí vay ngay</a></div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="right-hero">
                  <h3 class="title-hero"> Bạn có tiền nhàn rỗi muốn đầu tư</h3>
                  <ul class="ul list-hero">
                    <li>Khách hàng ngay gần</li>
                    <li>Lựa chọn được đối tượng khách hàng khác nhau</li>
                    <li>Miễn phí</li>
                  </ul>
                  <div class="btn-hero"><a class="btn-tima">Đăng kí cho vay</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="defautl-section tima-section">
          <div class="container">
            <div class="border-section">
              <div class="row">
                <div class="col-md-9 right-border">
                  <div class="title-section">Tima là gì?</div>
                  <p class="big-text uppercase">Mỗi một ngày tima xử lý kết nối hàng nghìn đơn vay đến hàng nghìn nhà đầu tư cho vay</p>
                </div>
                <div class="col-md-3">
                  <ul class="ul">
                    <li><img src="imgs/point.png">Vay dễ dàng</li>
                    <li><img src="imgs/list.png">Thủ tục nhanh</li>
                    <li><img src="imgs/sercurity.png">Khoản vay bảo mật</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="defautl-section lend-section">
          <div class="container">
            <div class="border-section">
              <div class="row wrap-table">
                <div class="col-md-9 right-border">
                  <div class="scrollable">
                    <div class="title-section">Danh sách đơn xin vay mới nhất</div>
                    <div class="big-section lend-list slide-lend">
                      <div class="item-slide">
                        <div class="icon-person"><img src="imgs/girl.png"></div>
                        <div class="info-customer border-tbl">
                          <p class="name-cus">Chi Van</p>
                          <p class="tel-cus">09x xxxxxx3</p>
                        </div>
                        <div class="type-lend border-tbl">
                          <p class="name-type">Tín chấp</p>
                          <p class="in-out">Ngân hàng</p>
                        </div>
                        <div class="type-lend border-tbl address-customer">
                          <p class="name-type">Hai Bà Trưng</p>
                          <p class="in-out">Hà Nội</p>
                        </div>
                        <div class="time-lend border-tbl">
                          <p class="number-lend">3</p>
                          <p class="unit-lend">Tháng</p>
                        </div>
                        <div class="qty-lend border-tbl">
                          <p class="amount">10.000.000</p>
                          <p class="unit-money">Triệu đồng</p>
                        </div>
                        <div class="date-lend"><span>15:30  </span>| 17/07/2017</div>
                      </div>
                      <div class="item-slide">
                        <div class="icon-person"><img src="imgs/boy.png"></div>
                        <div class="info-customer border-tbl">
                          <p class="name-cus">Chi Van</p>
                          <p class="tel-cus">09x xxxxxx3</p>
                        </div>
                        <div class="type-lend border-tbl">
                          <p class="name-type">Tín chấp</p>
                          <p class="in-out">Ngân hàng</p>
                        </div>
                        <div class="type-lend border-tbl address-customer">
                          <p class="name-type">Hai Bà Trưng</p>
                          <p class="in-out">Hà Nội</p>
                        </div>
                        <div class="time-lend border-tbl">
                          <p class="number-lend">1</p>
                          <p class="unit-lend">Tháng</p>
                        </div>
                        <div class="qty-lend border-tbl">
                          <p class="amount">10.000.000</p>
                          <p class="unit-money">Triệu đồng</p>
                        </div>
                        <div class="date-lend"><span>15:30  </span>| 17/07/2017</div>
                      </div>
                      <div class="item-slide">
                        <div class="icon-person"><img src="imgs/girl.png"></div>
                        <div class="info-customer border-tbl">
                          <p class="name-cus">Anh Nguyen Thang</p>
                          <p class="tel-cus">09x xxxxxx3</p>
                        </div>
                        <div class="type-lend border-tbl">
                          <p class="name-type">Tín chấp</p>
                          <p class="in-out">Vay ngoài</p>
                        </div>
                        <div class="type-lend border-tbl address-customer">
                          <p class="name-type">Long Bien</p>
                          <p class="in-out">Hà Nội</p>
                        </div>
                        <div class="time-lend border-tbl">
                          <p class="number-lend">2</p>
                          <p class="unit-lend">Tháng</p>
                        </div>
                        <div class="qty-lend border-tbl">
                          <p class="amount">10.000.000</p>
                          <p class="unit-money">Triệu đồng</p>
                        </div>
                        <div class="date-lend"><span>15:30  </span>| 17/07/2017</div>
                      </div>
                      <div class="item-slide">
                        <div class="icon-person"><img src="imgs/boy.png"></div>
                        <div class="info-customer border-tbl">
                          <p class="name-cus">Anh Trung</p>
                          <p class="tel-cus">09x xxxxxx3</p>
                        </div>
                        <div class="type-lend border-tbl">
                          <p class="name-type">Tín chấp</p>
                          <p class="in-out">Vay ngoài</p>
                        </div>
                        <div class="type-lend border-tbl address-customer">
                          <p class="name-type">Hai Bà Trưng</p>
                          <p class="in-out">Hà Nội</p>
                        </div>
                        <div class="time-lend border-tbl">
                          <p class="number-lend">3</p>
                          <p class="unit-lend">Tháng</p>
                        </div>
                        <div class="qty-lend border-tbl">
                          <p class="amount">10.000.000</p>
                          <p class="unit-money">Triệu đồng</p>
                        </div>
                        <div class="date-lend"><span>15:30  </span>| 17/07/2017</div>
                      </div>
                      <div class="item-slide">
                        <div class="icon-person"><img src="imgs/boy.png"></div>
                        <div class="info-customer border-tbl">
                          <p class="name-cus">Chi Hanh</p>
                          <p class="tel-cus">09x xxxxxx3</p>
                        </div>
                        <div class="type-lend border-tbl">
                          <p class="name-type">Tín chấp</p>
                          <p class="in-out">Ngân hàng</p>
                        </div>
                        <div class="type-lend border-tbl address-customer">
                          <p class="name-type">Thanh Xuan</p>
                          <p class="in-out">Hà Nội</p>
                        </div>
                        <div class="time-lend border-tbl">
                          <p class="number-lend">4</p>
                          <p class="unit-lend">Tháng</p>
                        </div>
                        <div class="qty-lend border-tbl">
                          <p class="amount">10.000.000</p>
                          <p class="unit-money">Triệu đồng</p>
                        </div>
                        <div class="date-lend"><span>15:30  </span>| 17/07/2017</div>
                      </div>
                      <div class="item-slide">
                        <div class="icon-person"><img src="imgs/girl.png"></div>
                        <div class="info-customer border-tbl">
                          <p class="name-cus">Chi Van</p>
                          <p class="tel-cus">09x xxxxxx3</p>
                        </div>
                        <div class="type-lend border-tbl">
                          <p class="name-type">Tín chấp</p>
                          <p class="in-out">Vay ngoài</p>
                        </div>
                        <div class="type-lend border-tbl address-customer">
                          <p class="name-type">Bac Tu Liem</p>
                          <p class="in-out">Hà Nội</p>
                        </div>
                        <div class="time-lend border-tbl">
                          <p class="number-lend">5</p>
                          <p class="unit-lend">Tháng</p>
                        </div>
                        <div class="qty-lend border-tbl">
                          <p class="amount">10.000.000</p>
                          <p class="unit-money">Triệu đồng</p>
                        </div>
                        <div class="date-lend"><span>15:30  </span>| 17/07/2017</div>
                      </div>
                    </div>
                  </div>
                  <div class="child-pr"> 
                    <div>Chúng tôi có hàng nghìn đơn đăng ký xin vay mỗi ngày!</div><a class="btn-tima">xem tất cả đơn vay</a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="title-section">Thống kê</div>
                  <div class="block-analytic">
                    <div class="lable">Đơn vay trong ngày</div>
                    <div class="result">100</div>
                  </div>
                  <div class="block-analytic">
                    <div class="lable">Tổng đơn vay trong ngày</div>
                    <div class="result">1200</div>
                  </div>
                  <div class="block-analytic">
                    <div class="lable">Tổng đơn đã vay</div>
                    <div class="result">600</div>
                  </div>
                  <div class="block-analytic">
                    <div class="lable">Xử lý nợ</div>
                    <div class="result">10</div>
                  </div>
                </div>
              </div>
              <div class="call-support">
                <div class="col-md-6">
                  <div class="support-tel">Để được tư vấn khoản vay gọi: <a href="tel:1800 6919">1800 6919</a></div>
                </div>
                <div class="col-md-4"><a class="support-faq" href="#"><img src="imgs/faq.png">Câu hỏi thường gặp</a></div>
                <div class="col-md-2"><a class="support-faq" href="#"><img src="imgs/user.png">Đăng ký</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="defautl-section lend-section borrow-section">
          <div class="container">
            <div class="border-section">
              <div class="row wrap-table">
                <div class="col-md-9 right-border">
                  <div class="scrollable">
                    <div class="title-section">Danh sách mời vay</div>
                    <div class="big-section borrow-list slide-borrow">
                      <div class="item-slide">
                        <div class="icon-person"><img src="imgs/girl.png"></div>
                        <div class="info-customer border-tbl">
                          <p class="name-cus">Chi Van</p>
                          <p class="tel-cus"> <img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star-dis.png"><img class="icon-star" src="imgs/star-dis.png"></p>
                        </div>
                        <div class="type-lend border-tbl">
                          <p class="name-type">Tín chấp</p>
                          <p class="in-out">Ngân hàng</p>
                        </div>
                        <div class="type-lend border-tbl address-customer">
                          <p class="name-type">Hai Bà Trưng</p>
                          <p class="in-out">Hà Nội</p>
                        </div>
                        <div class="ls-borrow border-tbl">
                          <p class="gia-borrow">
                             3.000 <sup>Đ</sup><span>/ </span></p>
                          <p class="unit-borrow">
                             1<span>Triệu</span></p>
                        </div>
                        <div class="date-lend"><span>15:30  </span>| 17/07/2017</div>
                      </div>
                      <div class="item-slide">
                        <div class="icon-person"><img src="imgs/girl.png"></div>
                        <div class="info-customer border-tbl">
                          <p class="name-cus">Chi Van</p>
                          <p class="tel-cus"> <img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star-dis.png"><img class="icon-star" src="imgs/star-dis.png"></p>
                        </div>
                        <div class="type-lend border-tbl">
                          <p class="name-type">Tín chấp</p>
                          <p class="in-out">Ngân hàng</p>
                        </div>
                        <div class="type-lend border-tbl address-customer">
                          <p class="name-type">Hai Bà Trưng</p>
                          <p class="in-out">Hà Nội</p>
                        </div>
                        <div class="ls-borrow border-tbl">
                          <p class="gia-borrow">
                             3.000 <sup>Đ</sup><span>/ </span></p>
                          <p class="unit-borrow">
                             1<span>Triệu</span></p>
                        </div>
                        <div class="date-lend"><span>15:30  </span>| 17/07/2017</div>
                      </div>
                      <div class="item-slide">
                        <div class="icon-person"><img src="imgs/girl.png"></div>
                        <div class="info-customer border-tbl">
                          <p class="name-cus">Chi Van</p>
                          <p class="tel-cus"> <img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star-dis.png"><img class="icon-star" src="imgs/star-dis.png"></p>
                        </div>
                        <div class="type-lend border-tbl">
                          <p class="name-type">Tín chấp</p>
                          <p class="in-out">Ngân hàng</p>
                        </div>
                        <div class="type-lend border-tbl address-customer">
                          <p class="name-type">Hai Bà Trưng</p>
                          <p class="in-out">Hà Nội</p>
                        </div>
                        <div class="ls-borrow border-tbl">
                          <p class="gia-borrow">
                             3.000 <sup>Đ</sup><span>/ </span></p>
                          <p class="unit-borrow">
                             1<span>Triệu</span></p>
                        </div>
                        <div class="date-lend"><span>15:30  </span>| 17/07/2017</div>
                      </div>
                      <div class="item-slide">
                        <div class="icon-person"><img src="imgs/girl.png"></div>
                        <div class="info-customer border-tbl">
                          <p class="name-cus">Chi Van</p>
                          <p class="tel-cus"> <img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star-dis.png"><img class="icon-star" src="imgs/star-dis.png"></p>
                        </div>
                        <div class="type-lend border-tbl">
                          <p class="name-type">Tín chấp</p>
                          <p class="in-out">Ngân hàng</p>
                        </div>
                        <div class="type-lend border-tbl address-customer">
                          <p class="name-type">Hai Bà Trưng</p>
                          <p class="in-out">Hà Nội</p>
                        </div>
                        <div class="ls-borrow border-tbl">
                          <p class="gia-borrow">
                             3.000 <sup>Đ</sup><span>/ </span></p>
                          <p class="unit-borrow">
                             1<span>Triệu</span></p>
                        </div>
                        <div class="date-lend"><span>15:30  </span>| 17/07/2017</div>
                      </div>
                      <div class="item-slide">
                        <div class="icon-person"><img src="imgs/girl.png"></div>
                        <div class="info-customer border-tbl">
                          <p class="name-cus">Chi Van</p>
                          <p class="tel-cus"> <img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star-dis.png"><img class="icon-star" src="imgs/star-dis.png"></p>
                        </div>
                        <div class="type-lend border-tbl">
                          <p class="name-type">Tín chấp</p>
                          <p class="in-out">Ngân hàng</p>
                        </div>
                        <div class="type-lend border-tbl address-customer">
                          <p class="name-type">Hai Bà Trưng</p>
                          <p class="in-out">Hà Nội</p>
                        </div>
                        <div class="ls-borrow border-tbl">
                          <p class="gia-borrow">
                             3.000 <sup>Đ</sup><span>/ </span></p>
                          <p class="unit-borrow">
                             1<span>Triệu</span></p>
                        </div>
                        <div class="date-lend"><span>15:30  </span>| 17/07/2017</div>
                      </div>
                      <div class="item-slide">
                        <div class="icon-person"><img src="imgs/girl.png"></div>
                        <div class="info-customer border-tbl">
                          <p class="name-cus">Chi Van</p>
                          <p class="tel-cus"> <img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star.png"><img class="icon-star" src="imgs/star-dis.png"><img class="icon-star" src="imgs/star-dis.png"></p>
                        </div>
                        <div class="type-lend border-tbl">
                          <p class="name-type">Tín chấp</p>
                          <p class="in-out">Ngân hàng</p>
                        </div>
                        <div class="type-lend border-tbl address-customer">
                          <p class="name-type">Hai Bà Trưng</p>
                          <p class="in-out">Hà Nội</p>
                        </div>
                        <div class="ls-borrow border-tbl">
                          <p class="gia-borrow">
                             3.000 <sup>Đ</sup><span>/ </span></p>
                          <p class="unit-borrow">
                             1<span>Triệu</span></p>
                        </div>
                        <div class="date-lend"><span>15:30  </span>| 17/07/2017</div>
                      </div>
                    </div>
                  </div>
                  <div class="child-pr"> 
                    <div>Chúng tôi có hàng nghìn nhà đầu tư cho vay trên Tima!</div><a class="btn-tima">xem tất cả đơn vay</a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="title-section">Thống kê</div>
                  <div class="block-analytic">
                    <div class="lable">Đơn vay trong ngày</div>
                    <div class="result">100</div>
                  </div>
                  <div class="block-analytic">
                    <div class="lable">Tổng đơn vay trong ngày</div>
                    <div class="result">1200</div>
                  </div>
                  <div class="block-analytic">
                    <div class="lable">Tổng đơn đã vay</div>
                    <div class="result">600</div>
                  </div>
                  <div class="block-analytic">
                    <div class="lable">Xử lý nợ</div>
                    <div class="result">10</div>
                  </div>
                </div>
              </div>
              <div class="call-support">
                <div class="col-md-6">
                  <div class="support-tel">Để được tư vấn khoản vay gọi: <a href="tel:1800 6919">1800 6919</a></div>
                </div>
                <div class="col-md-4"><a class="support-faq" href="#"><img src="imgs/faq.png">Câu hỏi thường gặp</a></div>
                <div class="col-md-2"><a class="support-faq" href="#"><img src="imgs/user.png">Đăng ký</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="defautl-section news-section">
          <div class="container">
            <div class="border-section">
              <div class="title-section">Báo chí nói về chúng tôi</div>
              <div class="wrap-news-slide">
                <ul class="ul ul-news">
                  <li><a class="img-post" href="#"><img src="imgs/news.png"></a>
                    <div class="source-news"><img class="baochi" src="imgs/bao1.png">
                      <div class="date-post">18/07/17</div>
                    </div><a class="title-news" href="#">Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.</a>
                  </li>
                  <li><a class="img-post" href="#"><img src="imgs/news2.png"></a>
                    <div class="source-news"><img class="baochi" src="imgs/bao2.png">
                      <div class="date-post">18/07/17</div>
                    </div><a class="title-news" href="#">Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.</a>
                  </li>
                  <li><a class="img-post" href="#"><img src="imgs/news3.png"></a>
                    <div class="source-news"><img class="baochi" src="imgs/bao3.png">
                      <div class="date-post">18/07/17</div>
                    </div><a class="title-news" href="#">Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.</a>
                  </li>
                  <li><a class="img-post" href="#"><img src="imgs/news4.png"></a>
                    <div class="source-news"><img class="baochi" src="imgs/bao4.png">
                      <div class="date-post">18/07/17</div>
                    </div><a class="title-news" href="#">Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.</a>
                  </li>
                  <li><a class="img-post" href="#"><img src="imgs/news.png"></a>
                    <div class="source-news"><img class="baochi" src="imgs/bao1.png">
                      <div class="date-post">18/07/17</div>
                    </div><a class="title-news" href="#">Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.</a>
                  </li>
                  <li><a class="img-post" href="#"><img src="imgs/news2.png"></a>
                    <div class="source-news"><img class="baochi" src="imgs/bao2.png">
                      <div class="date-post">18/07/17</div>
                    </div><a class="title-news" href="#">Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="site-footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-6"> 
                <ul>
                  <li><a href="index.html">Trang chủ</a></li>
                  <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                  <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul>
                  <li><a href="5_about.html">Giới thiệu tima</a></li>
                  <li><a href="login.html">Đăng nhập</a></li>
                </ul>
              </div>
            </div>
            <p class="copyR">© 2015 Bản quyền thuộc về Tima</p>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5 right-border-footer">
                <p class="hot-txt">hotline</p>
                <p class="num-tel">1800 6919</p>
                <p class="email-txt"><a href="mailto:support@tima.vn">Email: support@tima.vn</a></p>
              </div>
              <div class="col-md-7">
                <p class="cta">Bạn đã sẵn sàng trải nghiệm vay nhanh cùng Tima?</p>
                <div class="install"><a href="#"><img src="imgs/icon-apple.png"></a><a href="#"><img src="imgs/icon-android.png"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/scripts.min.js"></script>
  </body>
</html>

app/source/index.pug
extends layouts/layout-full.pug

block config
    - var title = 'Home Page'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .defautl-section.hero-section
            .container
                .row
                    .col-sm-6
                        .left-hero
                            h3.title-hero Bạn cần vay nhanh 1 khoản tiền
                            ul.ul.list-hero
                                li
                                    | Lãi suất tốt nhất
                                li
                                    | Gần nơi tôi sống
                                li
                                    | Thủ tục đơn giản
                                li
                                    | Giải ngân trong ngày
                            .btn-hero
                                a.btn-tima.btn-tima-dark
                                    | Đăng kí vay ngay
                    .col-sm-6
                        .right-hero
                            h3.title-hero  Bạn có tiền nhàn rỗi muốn đầu tư
                            ul.ul.list-hero
                                li
                                    | Khách hàng ngay gần
                                li
                                    | Lựa chọn được đối tượng khách hàng khác nhau
                                li
                                    | Miễn phí
                                
                            .btn-hero
                                a.btn-tima
                                    | Đăng kí cho vay
        .defautl-section.tima-section
            .container
                .border-section
                    .row
                        .col-md-9.right-border
                            .title-section
                                |Tima là gì?
                            p.big-text.uppercase
                                |Mỗi một ngày tima xử lý kết nối hàng nghìn đơn vay đến hàng nghìn nhà đầu tư cho vay
                        .col-md-3
                            ul.ul
                                li
                                    img(src="imgs/point.png")
                                    | Vay dễ dàng
                                li
                                    img(src="imgs/list.png")
                                    | Thủ tục nhanh
                                li
                                    img(src="imgs/sercurity.png")
                                    | Khoản vay bảo mật
        .defautl-section.lend-section
            .container
                .border-section
                    .row.wrap-table
                        .col-md-9.right-border
                            .scrollable
                                .title-section
                                    |Danh sách đơn xin vay mới nhất
                                .big-section.lend-list.slide-lend
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 09x xxxxxx3
                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .time-lend.border-tbl
                                            p.number-lend 3
                                            p.unit-lend Tháng
                                        .qty-lend.border-tbl
                                            p.amount 10.000.000
                                            p.unit-money Triệu đồng
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/boy.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 09x xxxxxx3
                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .time-lend.border-tbl
                                            p.number-lend 1
                                            p.unit-lend Tháng
                                        .qty-lend.border-tbl
                                            p.amount 10.000.000
                                            p.unit-money Triệu đồng
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Anh Nguyen Thang
                                            p.tel-cus 09x xxxxxx3
                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Vay ngoài
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Long Bien
                                            p.in-out Hà Nội
                                        .time-lend.border-tbl
                                            p.number-lend 2
                                            p.unit-lend Tháng
                                        .qty-lend.border-tbl
                                            p.amount 10.000.000
                                            p.unit-money Triệu đồng
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/boy.png")
                                        .info-customer.border-tbl
                                            p.name-cus Anh Trung
                                            p.tel-cus 09x xxxxxx3
                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Vay ngoài
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .time-lend.border-tbl
                                            p.number-lend 3
                                            p.unit-lend Tháng
                                        .qty-lend.border-tbl
                                            p.amount 10.000.000
                                            p.unit-money Triệu đồng
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/boy.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Hanh
                                            p.tel-cus 09x xxxxxx3
                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Thanh Xuan
                                            p.in-out Hà Nội
                                        .time-lend.border-tbl
                                            p.number-lend 4
                                            p.unit-lend Tháng
                                        .qty-lend.border-tbl
                                            p.amount 10.000.000
                                            p.unit-money Triệu đồng
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 09x xxxxxx3
                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Vay ngoài
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Bac Tu Liem
                                            p.in-out Hà Nội
                                        .time-lend.border-tbl
                                            p.number-lend 5
                                            p.unit-lend Tháng
                                        .qty-lend.border-tbl
                                            p.amount 10.000.000
                                            p.unit-money Triệu đồng
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                            .child-pr 
                                div Chúng tôi có hàng nghìn đơn đăng ký xin vay mỗi ngày!
                                a.btn-tima
                                    | xem tất cả đơn vay


                                
                            
                        .col-md-3
                            .title-section
                                |Thống kê
                            .block-analytic
                                .lable Đơn vay trong ngày
                                .result 100
                            .block-analytic
                                .lable Tổng đơn vay trong ngày
                                .result 1200
                            .block-analytic
                                .lable Tổng đơn đã vay
                                .result 600
                            .block-analytic
                                .lable Xử lý nợ
                                .result 10
                    .call-support
                        .col-md-6
                            div.support-tel
                                |Để được tư vấn khoản vay gọi: 
                                a(href="tel:1800 6919") 1800 6919
                        .col-md-4
                            a.support-faq(href="#")
                                img(src="imgs/faq.png")
                                |Câu hỏi thường gặp
                        .col-md-2
                            a.support-faq(href="#")
                                img(src="imgs/user.png")
                                |Đăng ký

        .defautl-section.lend-section.borrow-section
            .container
                .border-section
                    .row.wrap-table
                        .col-md-9.right-border
                            .scrollable
                                .title-section
                                    |Danh sách mời vay
                                .big-section.borrow-list.slide-borrow
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star-dis.png")
                                                img.icon-star(src="imgs/star-dis.png")

                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .ls-borrow.border-tbl
                                            p.gia-borrow 
                                                | 3.000 
                                                sup Đ
                                                span / 
                                            p.unit-borrow 
                                                | 1
                                                span Triệu
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star-dis.png")
                                                img.icon-star(src="imgs/star-dis.png")

                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .ls-borrow.border-tbl
                                            p.gia-borrow 
                                                | 3.000 
                                                sup Đ
                                                span / 
                                            p.unit-borrow 
                                                | 1
                                                span Triệu
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star-dis.png")
                                                img.icon-star(src="imgs/star-dis.png")

                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .ls-borrow.border-tbl
                                            p.gia-borrow 
                                                | 3.000 
                                                sup Đ
                                                span / 
                                            p.unit-borrow 
                                                | 1
                                                span Triệu
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star-dis.png")
                                                img.icon-star(src="imgs/star-dis.png")

                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .ls-borrow.border-tbl
                                            p.gia-borrow 
                                                | 3.000 
                                                sup Đ
                                                span / 
                                            p.unit-borrow 
                                                | 1
                                                span Triệu
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star-dis.png")
                                                img.icon-star(src="imgs/star-dis.png")

                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .ls-borrow.border-tbl
                                            p.gia-borrow 
                                                | 3.000 
                                                sup Đ
                                                span / 
                                            p.unit-borrow 
                                                | 1
                                                span Triệu
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    div.item-slide
                                        .icon-person
                                            img(src="imgs/girl.png")
                                        .info-customer.border-tbl
                                            p.name-cus Chi Van
                                            p.tel-cus 
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star.png")
                                                img.icon-star(src="imgs/star-dis.png")
                                                img.icon-star(src="imgs/star-dis.png")

                                        .type-lend.border-tbl
                                            p.name-type Tín chấp
                                            p.in-out Ngân hàng
                                        .type-lend.border-tbl.address-customer
                                            p.name-type Hai Bà Trưng
                                            p.in-out Hà Nội
                                        .ls-borrow.border-tbl
                                            p.gia-borrow 
                                                | 3.000 
                                                sup Đ
                                                span / 
                                            p.unit-borrow 
                                                | 1
                                                span Triệu
                                        .date-lend
                                            span 15:30  
                                            | | 17/07/2017
                                    
                            .child-pr 
                                div Chúng tôi có hàng nghìn nhà đầu tư cho vay trên Tima!
                                a.btn-tima
                                    | xem tất cả đơn vay


                                
                            
                        .col-md-3
                            .title-section
                                |Thống kê
                            .block-analytic
                                .lable Đơn vay trong ngày
                                .result 100
                            .block-analytic
                                .lable Tổng đơn vay trong ngày
                                .result 1200
                            .block-analytic
                                .lable Tổng đơn đã vay
                                .result 600
                            .block-analytic
                                .lable Xử lý nợ
                                .result 10
                    .call-support
                        .col-md-6
                            div.support-tel
                                |Để được tư vấn khoản vay gọi: 
                                a(href="tel:1800 6919") 1800 6919
                        .col-md-4
                            a.support-faq(href="#")
                                img(src="imgs/faq.png")
                                |Câu hỏi thường gặp
                        .col-md-2
                            a.support-faq(href="#")
                                img(src="imgs/user.png")
                                |Đăng ký

        .defautl-section.news-section
            .container
                .border-section
                    .title-section
                        |Báo chí nói về chúng tôi
                    .wrap-news-slide
                        ul.ul.ul-news
                            li
                                a.img-post(href="#")
                                    img(src="imgs/news.png")
                                .source-news
                                    img.baochi(src="imgs/bao1.png")
                                    .date-post 18/07/17
                                a.title-news(href="#") Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.

                            li
                                a.img-post(href="#")
                                    img(src="imgs/news2.png")
                                .source-news
                                    img.baochi(src="imgs/bao2.png")
                                    .date-post 18/07/17
                                a.title-news(href="#") Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.
                            li
                                a.img-post(href="#")
                                    img(src="imgs/news3.png")
                                .source-news
                                    img.baochi(src="imgs/bao3.png")
                                    .date-post 18/07/17
                                a.title-news(href="#") Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.
                            li
                                a.img-post(href="#")
                                    img(src="imgs/news4.png")
                                .source-news
                                    img.baochi(src="imgs/bao4.png")
                                    .date-post 18/07/17
                                a.title-news(href="#") Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.
                            li
                                a.img-post(href="#")
                                    img(src="imgs/news.png")
                                .source-news
                                    img.baochi(src="imgs/bao1.png")
                                    .date-post 18/07/17
                                a.title-news(href="#") Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.
                            li
                                a.img-post(href="#")
                                    img(src="imgs/news2.png")
                                .source-news
                                    img.baochi(src="imgs/bao2.png")
                                    .date-post 18/07/17
                                a.title-news(href="#") Lorem ipsum dolor sit amet, a urna, donec ut malesuada ac volutpat.


                            



                    


        
    
