app/source/signup.pug
extends layouts/layout-full.pug

block config
    - var title = '4.1 Sign up'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content
        .defautl-section.login-section
            .container
                .row
                    .flex-logins
                        .col-md-7.hide-sm
                            .left-login
                                .left-log-item(style="background-image:url(imgs/login-left.jpg)")
                                .left-log-item(style="background-image:url(imgs/login-left.jpg)")
                                .left-log-item(style="background-image:url(imgs/login-left.jpg)")
                        .col-lg-5.main-signup-login
                            .right-login
                                ul.nav.tab-login-signup(role="tablist")
                                    li(role="presentation")
                                        a(href="#login",aria-controls="login", role="tab" data-toggle="tab") Đăng nhập
                                    li.active(role="presentation")
                                        a(href="#signup",aria-controls="signup", role="tab" data-toggle="tab") Đăng ký
                                .tab-content

                                    #login.tab-pane.fade(role="tabpanel")  
                                        form.signup-form.login-frm
                                            .form-group
                                                p.hello
                                                    |Chào bạn
                                                    br
                                                    |Đăng nhập để xem và quản lý khoản vay
                                            
                                            
                                            .form-group.errors
                                                input#email.form-control.input-tima(type="email",placeholder="Mail của bạn")
                                                p.error-message
                                                    i.fa.fa-warning
                                                    | Show content error here!
                                            //- Hidden password field - Don't remove
                                            .form-group.hidden-group 
                                                input#password-hidden.form-control.input-tima(type="password",placeholder="Mật khẩu")
                                            //- End Hidden password field
                                            .form-group
                                                input#password.form-control.input-tima(type="password",placeholder="Mật khẩu")
                                            .form-group
                                                label.checkbox(for='remember')
                                                    input#remember(type='checkbox', name='agree')
                                                    i
                                                    span
                                                        | Nhớ tài khoản
                                                a.forgot-pass(href="#") Quên mật khẩu?
                                            .form-group
                                                p
                                                    | Bạn chưa có tài khoản? 
                                                    | Hãy 
                                                    a.underline(href="login.html") đăng kí ngay bây giờ 
                                                    | hoặc đăng nhập để sử dụng 
                                            .form-group
                                                button.btn-form(type="submit")
                                                    | Đăng nhập ngay
                                    #signup.tab-pane.fade.in.active(role="tabpanel") 
                                        form.signup-form
                                            .form-group
                                                label.radio(for='type1')
                                                    input#type1(type='radio', value="0" , name='type_invertor')
                                                    i
                                                    span
                                                        | Tôi là nhà đầu tư
                                                label.radio(for='type2')
                                                    input#type2(type='radio', value="0" , name='type_invertor')
                                                    i
                                                    span
                                                        | Tôi là người cần được đầu tư
                                                p.error-message
                                                    i.fa.fa-warning
                                                    | Show content error here!
                                            .form-group
                                                select.selectpicker.slt-tima
                                                    option Chọn loại tài khoản đầu tư
                                                    option Ketchup
                                                    option Relish
                                                p.error-message
                                                    i.fa.fa-warning
                                                    | Show content error here!
                                            .form-group
                                                input#fullname.form-control.input-tima(type="text",placeholder="Tên của bạn")
                                                p.error-message
                                                    i.fa.fa-warning
                                                    | Show content error here!
                                            .form-group 
                                                input#email.form-control.input-tima(type="email",placeholder="Mail của bạn")
                                                p.error-message
                                                    i.fa.fa-warning
                                                    | Show content error here!
                                            .form-group 
                                                input#tel.form-control.input-tima(type="tel",placeholder="Số điện thoại")
                                                p.error-message
                                                    i.fa.fa-warning
                                                    | Show content error here!
                                            //- Hidden password field - Don't remove
                                            .form-group.hidden-group 
                                                input#password-hidden.form-control.input-tima(type="password",placeholder="Mật khẩu")
                                            //- End Hidden password field
                                            .form-group.errors 
                                                input#password.form-control.input-tima(type="password",placeholder="Mật khẩu")
                                                p.error-message
                                                    i.fa.fa-warning
                                                    | Show content error here!
                                            .form-group 
                                                input#re-password.form-control.input-tima(type="password",placeholder="Nhập lại mật khẩu")
                                            .form-group
                                                label.checkbox(for='agree')
                                                    input#agree(type='checkbox', name='agree')
                                                    i
                                                    span
                                                        | Tôi chấp thuận các 
                                                        a(href="#") Điều Khoản Sử dụng 
                                                        | và xác nhận các thông tin trên là chính xác
                                                p.error-message
                                                    i.fa.fa-warning
                                                    | Show content error here!
                                            .form-group
                                                button.btn-form(type="submit")
                                                    | Đăng ký ngay
                                                    




                            



                    


        
    

app/signup.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>4.1 Sign up</title>
    <meta name="description" content="Page description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="ico/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet" type="text/css">
    <link href="css/slick-theme.css" rel="stylesheet" type="text/css">
    <!-- build:css css/style.min.css-->
    <link href="css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <!-- endbuild-->
  </head>
  <body>
    <header class="site-header" id="header">
      <div class="container">
        <nav class="navbar navbar-default nav-tima">
          <div class="in-nav-tima">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html"><img src="imgs/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div class="collapse navbar-collapse collapse-tima" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav nav-login">
                <li><a href="signup.html">Đăng ký</a><span>|</span></li>
                <li><a href="login.html">Đăng nhập</a><span>|</span></li>
                <li><a href="6_report.html">Thông báo</a><span>|</span></li>
                <li class="before-contact"><a href="5_support.html">Trung tâm hỗ trợ </a><span>|</span></li>
                <li class="contact-top"><img src="imgs/icon-iphone.png"><span class="spanHotline">| </span> Hotline:<a href="tel:1800 6919" style="padding-left:5px;">1800 6919</a></li>
              </ul>
              <ul class="nav navbar-nav main-menu">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                <li><a href="5_about.html">Giới thiệu tima</a></li>
                <li><a href="login.html">Đăng nhập</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse-->
          </div>
          <!-- /.container-fluid-->
        </nav>
      </div>
    </header>
    <main class="site-main" id="main">
      <div class="wrap-content">
        <div class="defautl-section login-section">
          <div class="container">
            <div class="row">
              <div class="flex-logins">
                <div class="col-md-7 hide-sm">
                  <div class="left-login">
                    <div class="left-log-item" style="background-image:url(imgs/login-left.jpg);"></div>
                    <div class="left-log-item" style="background-image:url(imgs/login-left.jpg);"></div>
                    <div class="left-log-item" style="background-image:url(imgs/login-left.jpg);"></div>
                  </div>
                </div>
                <div class="col-lg-5 main-signup-login">
                  <div class="right-login">
                    <ul class="nav tab-login-signup" role="tablist">
                      <li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Đăng nhập</a></li>
                      <li class="active" role="presentation"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Đăng ký</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade" id="login" role="tabpanel"> 
                        <form class="signup-form login-frm">
                          <div class="form-group">
                            <p class="hello">Chào bạn<br>Đăng nhập để xem và quản lý khoản vay</p>
                          </div>
                          <div class="form-group errors">
                            <input class="form-control input-tima" id="email" type="email" placeholder="Mail của bạn">
                            <p class="error-message"><i class="fa fa-warning"></i>Show content error here!</p>
                          </div>
                          <div class="form-group hidden-group"> 
                            <input class="form-control input-tima" id="password-hidden" type="password" placeholder="Mật khẩu">
                          </div>
                          <div class="form-group">
                            <input class="form-control input-tima" id="password" type="password" placeholder="Mật khẩu">
                          </div>
                          <div class="form-group">
                            <label class="checkbox" for="remember">
                              <input id="remember" type="checkbox" name="agree"><i></i><span>Nhớ tài khoản</span>
                            </label><a class="forgot-pass" href="#">Quên mật khẩu?</a>
                          </div>
                          <div class="form-group">
                            <p>
                              Bạn chưa có tài khoản? 
                              Hãy <a class="underline" href="login.html">đăng kí ngay bây giờ </a>hoặc đăng nhập để sử dụng 
                            </p>
                          </div>
                          <div class="form-group">
                            <button class="btn-form" type="submit">Đăng nhập ngay</button>
                          </div>
                        </form>
                      </div>
                      <div class="tab-pane fade in active" id="signup" role="tabpanel"> 
                        <form class="signup-form">
                          <div class="form-group">
                            <label class="radio" for="type1">
                              <input id="type1" type="radio" value="0" name="type_invertor"><i></i><span>Tôi là nhà đầu tư</span>
                            </label>
                            <label class="radio" for="type2">
                              <input id="type2" type="radio" value="0" name="type_invertor"><i></i><span>Tôi là người cần được đầu tư</span>
                            </label>
                            <p class="error-message"><i class="fa fa-warning"></i>Show content error here!</p>
                          </div>
                          <div class="form-group">
                            <select class="selectpicker slt-tima">
                              <option>Chọn loại tài khoản đầu tư</option>
                              <option>Ketchup</option>
                              <option>Relish</option>
                            </select>
                            <p class="error-message"><i class="fa fa-warning"></i>Show content error here!</p>
                          </div>
                          <div class="form-group">
                            <input class="form-control input-tima" id="fullname" type="text" placeholder="Tên của bạn">
                            <p class="error-message"><i class="fa fa-warning"></i>Show content error here!</p>
                          </div>
                          <div class="form-group"> 
                            <input class="form-control input-tima" id="email" type="email" placeholder="Mail của bạn">
                            <p class="error-message"><i class="fa fa-warning"></i>Show content error here!</p>
                          </div>
                          <div class="form-group"> 
                            <input class="form-control input-tima" id="tel" type="tel" placeholder="Số điện thoại">
                            <p class="error-message"><i class="fa fa-warning"></i>Show content error here!</p>
                          </div>
                          <div class="form-group hidden-group"> 
                            <input class="form-control input-tima" id="password-hidden" type="password" placeholder="Mật khẩu">
                          </div>
                          <div class="form-group errors"> 
                            <input class="form-control input-tima" id="password" type="password" placeholder="Mật khẩu">
                            <p class="error-message"><i class="fa fa-warning"></i>Show content error here!</p>
                          </div>
                          <div class="form-group"> 
                            <input class="form-control input-tima" id="re-password" type="password" placeholder="Nhập lại mật khẩu">
                          </div>
                          <div class="form-group">
                            <label class="checkbox" for="agree">
                              <input id="agree" type="checkbox" name="agree"><i></i><span>Tôi chấp thuận các <a href="#">Điều Khoản Sử dụng </a>và xác nhận các thông tin trên là chính xác</span>
                            </label>
                            <p class="error-message"><i class="fa fa-warning"></i>Show content error here!</p>
                          </div>
                          <div class="form-group">
                            <button class="btn-form" type="submit">Đăng ký ngay</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="site-footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-6"> 
                <ul>
                  <li><a href="index.html">Trang chủ</a></li>
                  <li><a href="2_dautuchovay.html">Cần một khoản vay</a></li>
                  <li><a href="3_canchovay.html">Đầu tư cho vay</a></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul>
                  <li><a href="5_about.html">Giới thiệu tima</a></li>
                  <li><a href="login.html">Đăng nhập</a></li>
                </ul>
              </div>
            </div>
            <p class="copyR">© 2015 Bản quyền thuộc về Tima</p>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5 right-border-footer">
                <p class="hot-txt">hotline</p>
                <p class="num-tel">1800 6919</p>
                <p class="email-txt"><a href="mailto:support@tima.vn">Email: support@tima.vn</a></p>
              </div>
              <div class="col-md-7">
                <p class="cta">Bạn đã sẵn sàng trải nghiệm vay nhanh cùng Tima?</p>
                <div class="install"><a href="#"><img src="imgs/icon-apple.png"></a><a href="#"><img src="imgs/icon-android.png"></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- build:js js/scripts.min.js-->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/vendor/holder.js"></script>
    <script src="js/vendor/slick.min.js"></script>
    <script src="js/vendor/bootstrap-select.js"></script>
    <script src="js/custom.js"></script>
    <!-- endbuild-->
  </body>
</html>
